---
title: Aptible Careers
id: careers
description: Aptible careers page
posted: 2014-06-30
section: Company
mission: We are transforming the experience of building private, secure software systems in regulated industries. We are starting in digital health because the American healthcare system is broken and we want to empower those who can fix it. If you want to make a meaningful difference, join our team.
slides:
  rock:
    title: Aptible @ Rock Health
    caption: Aptible's San Francisco office inside Rock Health
    url: /pages/assets/rockhealth.jpg

roles:
  backend:
    title: Systems Engineer
    description: Build elegant, robust systems to help our customers deploy sophisticated architecture at the click of a button.
  frontend:
    title: Front End Engineer
    description: Build beautiful, usable tools to help our customers understand complex systems.
  compliance:
    title: Security & Compliance Architect
    description: Design tools and systems to help our customers build secure, private, compliant applications. 

contact:
  title: Ready to make a difference in digital healthcare?
  sub_title: We'd love to hear from you
  body: Send your cover letter and resume to [careers@aptible.com](mailto:careers@aptible.com)
---

<div class="fancy-cover">
  <div class="container">
    <div class="row section working-at-aptible-intro">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="intro-block">
          <h1 class="intro-title">Working at Aptible</h1>
        </div>
      </div>
    </div>

    <div class="row section careers-carousel-section">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

        <div class="carousel">
          {{#each slides}}
            <div class="carousel-item">
              <div class="item-shade"></div>
              <img src="{{url}}" alt="{{name}}">
              <div class="carousel-caption">
                <h3>{{title}}</h3>
                <p>{{caption}}</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="row section working-at-aptible-description">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="intro-block">
          <h2 class="intro-heading">Help build the future of privacy and security on the web.</h2>
          <div class="intro-body">{{mission}}</div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row aptible-perks">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h2 class="section-title">Aptible Roles</h2>
      <div class="row aptible-perks">
        {{#each roles}}
          <div class="col-sm-4 fact-item">
            <h4>{{title}}</h5>
            <div class="description">
              {{#markdown}}{{description}}{{/markdown}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row aptible-careers-contact">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h2 class="section-title">{{contact.title}}</h2>
      <div class="row aptible-perks">

          <div class="col-md-6 col-md-offset-3 col-sm-12  fact-item">
            <h4>{{contact.sub_title}}</h5>
            <div class="description">{{#markdown}}{{contact.body}}{{/markdown}}</div>
          </div>

      </div>
    </div>
  </div>
</div>
