- content_for :header do
  = partial 'headers/blog-post', locals: { |
      page_subtitle: "#{current_page.data.author_name} - |
                        #{post_date(current_page.data.posted)}", |
      page_title: "#{current_page.data.title}", |
      page_summary: "#{current_page.data.excerpt}" |
    } |

= wrap_layout :layout do
  .content
    .grid-container
      .blog-post__author
        %h4.blog-post__author-subtitle The Author
        %h3.blog-post__author-name= current_page.data.author_name

      .blog-post.markdown-content
        = find_and_preserve do
          = yield
          
  = partial 'partials/resources-footer'
