!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}/

    / Use title if it's in the page YAML frontmatter
    %title= "Aptible - Blog - #{current_page.data.title}"

    / TypeKit
    %script{:src => "https://use.typekit.net/pqi8lpw.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    = stylesheet_link_tag :all

  %body{:class => page_classes}
    = partial 'headers/blog-post', locals: { |
        page_subtitle: "page subtite", |
        page_title: "page title", |
        page_summary: "summary" |
      } |

    .content
      .grid-container
        .blog-posts
          = find_and_preserve do
            = yield

    = partial 'partials/footer'
    = javascript_include_tag :all
