- content_for :header do
  = partial 'headers/blog-post', locals: { |
      page_subtitle: "page subtite", |
      page_title: "page title", |
      page_summary: "summary" |
    } |

= wrap_layout :layout do
  .content
    .grid-container
      .blog-posts
        = find_and_preserve do
          = yield

  = partial 'partials/resources-footer'
