- content_for :header do
  %header.aptible-header.hero-gradient--angled
    = partial 'partials/main-nav'

= wrap_layout :layout do
  .content
    .grid-container--flex
      .blog-posts.grid-item
        = partial 'partials/headers/blog-header'

        .blog-posts__post
          %a{ href: blog_post_author_href(current_page) }
            %img.blog-posts__post-avatar{ src: "#{author_gravatar(current_page)}?s=128" }
          %header.blog-posts__post-header
            %h1.post__title= current_page.data.title
            .post__subtitle
              %a{ href: blog_post_author_href(current_page) }= current_page.data.author_name
              on
              %span= post_date(current_page.data.posted)

          .blog-post.markdown-content
            = find_and_preserve do
              = yield

        = partial 'partials/newsletter-signup--blog'
