- content_for :header do
  %header.aptible-header.hipaa-hosting__header.case-study__header
    = partial 'partials/main-nav'

    .grid-container.grid--single-center
      .grid-item.text-center
        %h2.subtitle--caps.blue Case Studies
        %h1.title.white.heading--single-center
          = current_page.data.headline
        %p.subtitle.light-blue-gray
          = current_page.data.description


= wrap_layout :layout do
  .angled-section-dividers


  .content
    .grid-container.hero-billboard.hero-billboard--full-title.hero-billboard--case-study.case-study__hero
      .grid-container
        .grid-item.case-study__hero__images
          - if current_page.data.images.length > 1
            .case-study__hero__image-left
              %img{ src: current_page.data.images[0] }
            .case-study__hero__image-right
              %img{ src: current_page.data.images[1] }
          - else
            .case-study__hero__image-center
              %img{ src: current_page.data.images[0] }

      .grid-container.grid--3up
        .grid-collapse
          .grid-item--two-thirds.case-study__hero-content
            = yield_content :top_body_text

          .grid-item--one-third.case-study__hero-bullets
            - current_page.data.bullet_points.each do |section|
              - section.each do |title, points|
                %h5= title
                %ul
                  - points.each do |point|
                    %li= point
  
      - if content_for?(:top_quote)
        .grid-container
          .grid-item.case-study__quote
            = yield_content :top_quote
      
      - if current_page.data.products_used
        .case-study__highlights
          .column
            %h5 Products Used
            %ul.no-checkmarks
              - if current_page.data.products_used.include?('enclave')
                %li
                  %h6 Enclave
                  %p Container Orchestration Platform with built-in security and Compliance.

              - if current_page.data.products_used.include?('gridiron')
                %li
                  %h6 Gridiron
                  %p Security and Compliance management platform for software development teams

          .column
            %h5 Highlights
            %ul 
              - current_page.data.highlights.each do |highlight|
                %li= highlight

          .column
            %h5 Use Cases
            %ul 
              - current_page.data.use_cases.each do |use_case|
                %li= use_case

  - if content_for?(:bottom_copy)
    .content
      .grid-container
        .grid-item.case-study__bottom-copy
          = yield_content :bottom_copy

  .content.angled-section-divider--left
  .content.angled-section-gradient
    .grid-container.join-aptible
      .grid-item.text-center
        %h1.title.white.heading--single-center
          Deploy Your First App Now
        %p.subtitle.light-blue-gray
          No contracts, no risk. Open a Development Account today with $500 free credit.

        = partial 'partials/ctas/signup-cta', locals: { class_name: 'signup-cta--centered', cta_label: 'Sign Up', cta_placeholder: 'Enter your work email' }   
