- content_for :header do
  %header.aptible-header.hero-gradient--angled
    = partial 'partials/main-nav'

= wrap_layout :layout do
  .content
    .grid-container--flex
      .blog-posts.grid-item
        = partial 'partials/headers/blog-header'

        .blog-posts__post
          %img.blog-posts__post-avatar{ src: "#{author_gravatar(cms_post)}?s=128" }
          %header.blog-posts__post-header
            %h2.post__title= cms_post.data.title
            %h3.post__subtitle
              %a{ href: blog_post_author_href(cms_post) }= cms_post.data.author_name
              on
              %span= post_date(cms_post.data.posted)

          .blog-post.markdown-content
            = find_and_preserve do
              = yield
