- regulation = load_hipaa_regulation
- @title = "#{regulation.title} | HIPAA"
- @protocol_directory = 'hipaa'

= wrap_layout :compliance_hipaa do
  %section
    %h4= regulation.parents.map {|p| p.title}.join(' &nbsp; > &nbsp; ')
    %h1 #{regulation.id} #{regulation.title}

  %section
    = yield

  = partial 'partials/compliance/pagination', locals: { regulation: regulation }
