!!!
%html
  %head
    %title= page_title
    %link{ rel: 'canonical', href: page_url }
    - if request.path.start_with?('ui-kit', 'get/')
      %meta{ name: "robots", content: "noindex" }/
    %meta{ property: "og:title", content: page_title }/
    %meta{ property: "og:description", content: page_description }/
    %meta{ name: "description", content: page_description }/
    %meta{ property: "og:type", content: "website" }/
    %meta{ name: "twitter:card", content: "summary" }/
    %meta{ name: "twitter:site", content: "@aptible" }/
    %meta{ property: "og:image", content: page_image }/
    %meta{ property: "og:url", content: page_url }/

    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{ charset: "utf-8"}/
    %meta{ content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport"}/

    %script{:src => "https://use.typekit.net/pqi8lpw.js"}
    :javascript
      // TypeKit
      // Not doing async blocks, but avoids FOUT.
      // With our CDN and caching this is a much better experience
      try { Typekit.load({ async: false }); } catch(e) {}

      // No analytics locally
      if (window.location.hostname !== 'localhost') {
        /* segmentio */
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
          analytics.load("#{segmentio_writekey}");
        }}();
        // Autopilot
        (function(o){var b="https://api.autopilothq.com/anywhere/",t="1267246580184c38b76d8ec048b700a4c2e30c3bd56f45f2ac4a383868d29a98",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};if(!o.noaa){z(b+"aa/"+t+'?'+p,false)};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});
        // Quora
        !function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
        qp('init', 'f20fa10cf456448fa89feda2f8449482');
        qp('track', 'ViewContent');

        // Drift
        !function() {
          var t = window.driftt = window.drift = window.driftt || [];
          if (!t.init) {
            if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
            t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
            t.factory = function(e) {
              return function() {
                var n = Array.prototype.slice.call(arguments);
                return n.unshift(e), t.push(n), t;
              };
            }, t.methods.forEach(function(e) {
              t[e] = t.factory(e);
            }), t.load = function(t) {
              var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
              o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
              var i = document.getElementsByTagName("script")[0];
              i.parentNode.insertBefore(o, i);
            };
          }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('tiiaa9a7u7nh');
      }

    = stylesheet_link_tag :all
    = stylesheet_link_tag :fontawesome

  %body.aptible-www{ class: page_classes }
    = yield_content :header

    = yield

    - unless content_for?(:hide_footer)
      = partial 'partials/footer'

    = partial 'partials/notification'

    = javascript_include_tag :all
    = javascript_include_tag :aptible

    %script{ src: 'https://cdn.statuspage.io/se-v2.js' }
    :javascript
      // Record analytics page visits
      if (window.location.hostname !== 'localhost') {
        analytics.page();
      }
    = yield_content :page_javascript
