!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}/

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Aptible"

    / TypeKit
    %script{:src => "https://use.typekit.net/pqi8lpw.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    = stylesheet_link_tag :all

  %body{:class => page_classes}
    = partial 'headers/support-document'

    %nav.nav-list--breadcrumb
      .grid-container
        %a.nav-item{:href => '/support'} Support
        %span.nav-item--separator
        %a.nav-item{:href => '/support/quickstart/'} Quickstart Guides
        %span.nav-item--separator
        %a.nav-item{:href => ''} #{@title}

    .content
      .grid-container.quickstart

        %h1.document-title= @title
        %h2.document-summary= current_page.data.summary
        %hr
        .grid-aside.quickstart__requirements
          %h2 This guide requires that you have:
          %ul.check-list
            %li An Aptible account
            %li An SSH key associated with your Aptible user account
            %li The <a href="/support/toolbelt">Aptible Toolbelt</a> installed

        .grid-document.quickstart__document
          = find_and_preserve do
            = yield

          .back
            - if @category_title
              %a{ href: @category_url }← Back to #{@category_title}
            - else
              %a{ href: '/support/quickstart' }← Back to all support topics

    = partial 'partials/footer'
    = javascript_include_tag :all
