- resource = current_page.data
- @title = resource.title
- @description = resource.meta_description || resource.snippet

- content_for :header do
  %header.aptible-header.aptible-header--with-breadcrumbs.hero-gradient--angled
    = partial 'partials/main-nav', locals: {      |
        section_title: 'Resources',               |
        section_url: '/resources/'                |
      }                                           |

= wrap_layout :layout do
  .content.resource__header
    .grid-container.grid-container--no-padding.resource__header-wrap{ style: resource_header_style(current_page) }
      %h1.heading__title= resource.title
      .heading__summary= resource.excerpt

  .content
    .grid-container.grid-container--no-padding
      .grid-document.markdown-content.resource-article
        - if resource.webinar_video_link
          %p.text-center
            %iframe{ width: '560', height: '315',                        |
                     src: resource.webinar_video_link, frameborder: '0', |
                     allowfullscreen: 'allowfullscreen' }                |

        = find_and_preserve do
          = yield

        - if resource.webinar_slides_link
          %h3 Slides
          %p
            %a{ href: resource.webinar_slides_link } View

        - if resource.type == 'webinar'
          %h3#transcript Transcript
          - if resource.webinar_transcript_partial
            = partial(resource.webinar_transcript_partial)
          - else
            %em Coming Soon

        - if resource.type == 'webinar'
          - webinars = webinars(resource.slug)
          - if webinars.count > 0
            %h3 Other Webinars
            %ul
              - webinars.each do |w|
                %li
                  %a{ href: resource_path(w) }
                    %strong= display_date(w.data.created_at)

        - if resource.documents
          .resource-docs
            - resource.documents.each do |doc|
              %a.resource-doc{ href: doc.path, title: doc.title, "data-type" => document_file_extension(doc.path), target: '_blank', rel: 'noopener noreferrer' }
                = partial '/images/aptible-small-mark.svg'

      .grid-aside
        = partial 'resources-aside'
