- content_for :header do
  = partial 'headers/support-document'

= wrap_layout :layout do
  %nav.nav-list--breadcrumb
    .grid-container
      %a.nav-item{:href => '/support'} Support
      %span.nav-item--separator
      - if quickstart? current_page.path
        %a.nav-item{:href => '/support/quickstart/'} Get Started Guides
        - if @language.articles.count > 1
          %span.nav-item--separator
          %a.nav-item{:href => quickstart_index_href(@language)}= @language.name
        %span.nav-item--separator
        %a.nav-item{:href => ''} #{ @title }
      - else
        %a.nav-item{:href => '/support/topics/'} Topics
        - if @category_url
          %span.nav-item--separator
          %a.nav-item{:href => @category_url}= @category_title
        %span.nav-item--separator
        %a.nav-item{:href => ''}= @title || title

  .content
    .grid-container.quickstart
      %h1.document-title= @title || title
      %h2.document-summary= current_page.data.summary || lorem.sentence
      %hr

      .grid-aside
        - if quickstart? current_page.path
          .grid-aside__block
            %h2 This guide requires that you have:
            %ul.checklist
              %li An Aptible account
              %li An SSH key associated with your Aptible user account
              %li The <a href="/support/toolbelt">Aptible Toolbelt</a> installed

          - if @language.articles.count > 1
            .grid-aside__block
              %h2= "Other #{@language.name} Quickstart Guides"
              %ul.nav--expandable
                - @language.articles.each do |article|
                  - if !current_page.path.include? article.url
                    %li
                      %a{ href: "/support/quickstart/#{article.url}" }= article.framework

        - if @category_title
          .grid-aside__block
            %h2= @category_title
            %ul.nav--expandable
              - data.topics[@category_title].articles.each do |article|
                %li
                  %a{ href: "/support/topics/#{article.url}" }= article.title

      .grid-document.markdown-content
        = find_and_preserve do
          = yield

        .back
          - if defined? @category_title
            %a.arrow-link--left{ href: @category_url } Back to #{@category_title}
          - elsif quickstart? current_page.path
            %a.arrow-link--left{ href: '/support/quickstart' } Back to getting started guides
          - else
            %a.arrow-link--left{ href: '/support/topics' } Back to support topics
