.compliance__sidebar__title.first= @protocol.nav.regulations_title
- @protocol.regulation.each do |section|
  %a.compliance__sidebar__item.compliance__expandable.compliance__sidebar__item--level1
    = section.title
    .compliance__arrow

  .compliance__expandable__content
    - section.subparts.each do |subpart|
      %a.compliance__sidebar__item.compliance__expandable.compliance__sidebar__item--level2
        - if subpart.id
          %span.compliance__sidebar__regulation-id= subpart.id
        = subpart.title
        .compliance__arrow

      - if subpart.subparts
        .compliance__expandable__content
          - subpart.subparts.each do |sub_subpart|
            %a.compliance__sidebar__item.compliance__sidebar__item--level3{ href: "/#{@protocol.slugs.site}/#{@protocol.slugs.regulations}/#{sub_subpart.url}/" }
              - if sub_subpart.id
                %span.compliance__sidebar__regulation-id= sub_subpart.id
              = sub_subpart.title
              .compliance__open-arrow
                %i.far.fa-long-arrow-right
