%header.blog-posts__post-header
  %h2.post__title
    %a{ href: blog_post_href(post) }= post.data.title
  .post__subtitle
    %a{ href: blog_post_author_href(post) }= post.data.author_name
    on
    %span= display_date(post.data.posted)

.blog-posts__post-summary.markdown-content
  = find_and_preserve do
    = post.render({ layout: false })

.blog-posts__post-summary-fade
