-# TODO: SVGs julia@scriptdash.com
.logo-grid.logo-grid--4up
  .logo-grid__item
    = partial '/images/customers/ucsf.svg'
  .logo-grid__item
    = image_tag 'customers/spectra.png'
  .logo-grid__item
    = image_tag 'customers/everplans.png'
  .logo-grid__item
    = image_tag 'customers/lumahealth.png'
  .logo-grid__item
    = image_tag 'customers/healthify.png'
  .logo-grid__item
    = partial '/images/customers/1bios.svg'
  .logo-grid__item
    = image_tag 'customers/telepharm.png'
