.guides-intro.grid-container.grid--single-center
  .grid-item
    .guides-intro__hgroup
      %h2.guides-intro__title
        Developers First
      %p.guides-intro__subtitle
        Aptible helps secure the internet by giving developers the tools and
        expertise to protect sensitive data.
    .guides-intro__languages
      %a.guides-intro__language.python{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/python/django.html" }
        = partial 'images/icons/python.svg'

      %a.guides-intro__language.node{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/node-js.html" }
        = partial 'images/icons/node.svg'

      %a.guides-intro__language.ruby{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/ruby/rails.html" }
        = partial 'images/icons/ruby.svg'

      %a.guides-intro__language.php{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/php/laravel.html" }
        = partial 'images/icons/php.svg'
