.content.developer-tools
  .grid-container.grid--single-center
    .grid-item
      .developer-tools__heading
        %h2.title
          Work with tools you already use and love
        %h3.subtitle
          Aptible helps secure the internet by giving developers the tools and<br>
          expertise to protect sensitive data

      .developer-tools__languages
        %a.developer-tools__language.python{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/python.html" }
          = partial 'images/icons/python.svg'

        %a.developer-tools__language.node{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/node-js.html" }
          = partial 'images/icons/node.svg'

        %a.developer-tools__language.ruby{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/ruby.html" }
          = partial 'images/icons/ruby.svg'

        %a.developer-tools__language.php{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides/php.html" }
          = partial 'images/icons/php.svg'

        %a.developer-tools__language.java{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides.html" }
          = partial 'images/icons/java.svg'

        %a.developer-tools__language.scala{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides.html" }
          = partial 'images/icons/scala.svg'

        %a.developer-tools__language.go{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides.html" }
          = partial 'images/icons/go.svg'

      .developer-tools__link
        %a.arrow-link--right.dbl-arrow-link--right{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides.html" } Learn More
