.content.developer-tools
  .grid-container.grid--single-center
    .grid-item
      .developer-tools__heading
        %h2.title
          Work with tools you already use and love
        %h3.subtitle
          Aptible helps secure the internet by giving developers the tools and<br>
          expertise to protect sensitive data

      .developer-tools__languages
        .developer-tools__language.python
          = partial 'images/icons/python.svg'

        .developer-tools__language.node
          = partial 'images/icons/node.svg'

        .developer-tools__language.ruby
          = partial 'images/icons/ruby.svg'

        .developer-tools__language.php
          = partial 'images/icons/php.svg'

        .developer-tools__language.java
          = partial 'images/icons/java.svg'

        .developer-tools__language.scala
          = partial 'images/icons/scala.svg'

        .developer-tools__language.go
          = partial 'images/icons/go.svg'

      .developer-tools__link
        %a.arrow-link--right.dbl-arrow-link--right{ href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides.html" } Learn More
