- featured_class = resource.data.featured ? ' resource-article--featured' : ''
%a{ class: "resource-article#{featured_class}", href: resource_link_path(resource) }
  %header.resource-article__header
    %h2.resource-article__title= resource.data.title
    .resource-article__tags
      - resource.data.categories.each do |category|
        .resource-article__tag= category
    .resource-article__excerpt= resource.data.excerpt
    .resource-article__author-date
      = "#{resource.data.author_name} - #{post_date(resource.data.posted)}"
