---
  header: Aptible helps TelePharm bring full-service pharmacies to rural communities
  title: 'Aptible + TelePharm'
  bodycol: 'col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2'
  imagecol: 'col-xs-12 col-md-12 col-lg-10 col-lg-offset-1'
---

<div class="case-study">
  <div class="jumbotron">
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/aptible-logo.png" alt="Aptible" />
        </a>
      </nav>

      <h1>{{header}}</h1>
    </div>
  </div>

  <div class="case-study-logos">
    <div class="container">
      <img src="/pages/assets/case-studies/aptible+telepharm.png" alt="Aptible + TelePharm" />
    </div>
  </div>

  <div class="case-study-body">
    <div class="container">
      <div class="row">
        <div class="{{bodycol}}">

        <p>
          Independent pharmacies are closing across the United States. Between 2010 and 2012 in Iowa alone, 46 pharmacies closed, leaving more than 220,000 patients without access to these critical services. These residents, many of them elderly, were forced to travel long distances for the health care services that were previously available locally.
        </p>
        <p>
          TelePharm was founded in 2012 to bring health care services back to these rural communities. Through their innovative pharmacy solutions, they are able to provide access to a pharmacist in underserved areas. TelePharm’s software is critical to the success of this new pharmacy model, allowing them to securely manage the prescription workflow and verification process.
        </p>

        </div>
      </div>

      <div class="row">
        <div class="{{imagecol}}">
          <img src="/pages/assets/case-studies/telepharm-screenshot.jpg" alt="TelePharm" class="screenshot" />
        </div>
      </div>

      <div class="row">
        <div class="{{bodycol}}">
          <p>
            TelePharm came to Aptible looking for a better way to manage their HIPAA compliance.  With Aptible, the TelePharm team was able to get their applications and databases migrated and running in a few hours.  The HIPAA compliance work was similarly fast.  With Aptible’s (out of the box) HIPAA compliance, TelePharm has been able to quickly train all of their employees and has their documentation ready to go for any audits.
          </p>
        </div>
      </div>
    </div>

    <div class="case-study-quote">
      <div class="container">
        <div class="row">
          <div class="{{imagecol}}">
            <img class="quote-hex" src="/pages/assets/case-studies/quote.png" />

            <h2>
              Working with Aptible has effectively extended our dev team.  We now have a group of world-class DevOps ensuring the reliability and scalability of our app.  Running in our platform on top of AWS has increased our peace of mind and we have had spectacular uptime since switching.
            </h2>

            <div class="quote-source">
              <div class="quote-image">
                <img src="/pages/assets/case-studies/kent-safranski.png" alt="Kent Safranski - Senior Developer and Architect at TelePharm" />
              </div>
              <div class="quote-author">
                <div class="quote-name">Kent Safranski</div>
                <div class="quote-title">Senior Developer and Architect at TelePharm</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="{{bodycol}}">
          <p>
            With Aptible, TelePharm has taken their existing Docker files and been up and running in the HIPAA cloud with minimal work. The convenience of deploying code to multiple environments has enabled them to quickly build, test and deploy new features. With HIPAA compliance structure permeating the entire deployment pipeline, TelePharm has shortened the timeline from development to production. All of this frees up the developers, so they can focus on customer-facing features and design.
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer class="aptible-footer">
    <div class="aptible-mark"><div class="mark"></div></div>
    <div class="container">

      <div class="row">
        <div class="{{bodycol}}">
          <div class="case-study-logo">
            <img src="/pages/assets/case-studies/telepharm-logo.png" />
          </div>

          <h3>The TelePharm Story</h3>
          <p>
            In 2010, Roby Miller’s family owned a chain of six rural retail pharmacies in eastern Iowa. The small communities where their pharmacies were located, thanks largely to policy changes related to payments for prescription medications, weren’t providing enough business to cover the expense of operating a pharmacy. Due to these financial constraints, the family was forced to close one pharmacy and sell another – and the remaining pharmacies were at risk.
          </p>

          <h3>TelePharm™ develops a solution</h3>
          <p>
            Then in 2012, the Miller family was approached by a local Health Board to consider bringing a pharmacy back to their community. Wanting to help, Roby founded TelePharm™ and developed a solution that would be affordable, easy to maintain, and feasible in low-volume rural locations. In October 2012, they opened Iowa’s first telepharmacy and began helping others to bring local pharmacies back to their communities. Since then, others have realized the value in the model that TelePharm™ created and more telepharmacies have opened across the United States. The number of TelePharm™ Pharmacies, as well as our team, continue to grow today.
          </p>
        </div>
      </div>


      <div class="row sub-footer">
        <ul class="nav navbar-nav">
          <li>© 2015 Aptible</li>
        </ul>
      </div>
    </div>
  </footer>

</div>
