---
# title defaults to 'Aptible Support'
---

- content_for :header do
  = partial 'partials/headers/support-index'

.content
  .grid-container.grid--4up
    - data.topics.each do |title, topic|
      %a.grid-item.card{ href: "/support/topics/#{topic.slug}", class: topic.slug }
        .card__header
          %h3.card__title= title
          .card__icon= partial "images/icons/#{topic.svg}"
        .card__body
          -# - if defined? category
          -#   = category['summary']
          -# - else
          -#   = lorem.sentence
          -# %a{ href: "/support/topics#{topic.slug}" } Learn More
