---
title: "Resources"
tracked_title: "Resources"
description: "Aptible's resources page"
posted: 2014-06-30
section: Company
press_enabled: false
press:
  tc:
    name: TechCrunch
    url: http://techcrunch.com/aptible-is-amaze
    logo: /pages/assets/press/techcrunch_logo.jpg
    logo_width: 75px
    posted: 2014-06-30
    quote: '"Vestibulum pretium placerat mollis. Donec ultricies odio enim, et vehicula purus blandit vitae. Proin eleifend blandit cursus."'

---

<div class="container">
  <div class="row section">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="section-title">Media Kit</h2>
      <div class="row">

        <div class="col-sm-4">
          <div class="panel panel-default media-item">
            <div class="panel-body-subdued media-photo">
              <img src="/pages/assets/press-kit/color/web-horizontal-color-350.png" alt="Aptible Color Logo" />
            </div>
            <div class="panel-body">
              <h4>Aptible Logo - Color</h4>
              <ul class="media-links">
                <li><a href="/pages/assets/press-kit/color/web-horizontal-color.ai" target="_blank">Download .ai</a></li>
                <li><a href="/pages/assets/press-kit/color/web-horizontal-color-750.png" target="_blank">Download .png</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default media-item media-item-dark">
            <div class="panel-body-subdued media-photo">
              <img src="/pages/assets/press-kit/white/web-horizontal-white-350.png" alt="Aptible White Logo" />
            </div>
            <div class="panel-body">
              <h4>Aptible Logo - White</h4>
              <ul class="media-links">
                <li><a href="/pages/assets/press-kit/white/web-horizontal-white.ai" target="_blank">Download .ai</a></li>
                <li><a href="/pages/assets/press-kit/white/web-horizontal-white-750.png" target="_blank">Download .png</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default media-item media-item">
            <div class="panel-body-subdued media-photo">
              <h4>Aptible Press Kit</h4>
            </div>
            <div class="panel-body">
              <h4>Press Kit</h4>
              <ul class="media-links">
                <li><a href="/pages/assets/press-kit/aptible_press_kit.zip" target="_blank">Download .zip</a></li>
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row section hippa-badges">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="section-title">HIPPA-Compliant. Powered by Aptible.</h2>
      <div class="intro-body">Feel free to use these badges on your site.  We suggest linking the image to <a href="https://aptible.com">aptible.com</a>.</div>
      <div class="row">

        <div class="col-sm-4">
          <div class="panel panel-default media-item">
            <div class="panel-body-subdued media-photo">
              <img src="/pages/assets/press-kit/badges/solid-dark/solid-dark.svg" alt="HIPAA Badge Solid Dark" />
            </div>
            <div class="panel-body">
              <h4>HIPAA Badge - Solid Dark</h4>
              <ul class="media-links">
                <li><a href="/pages/assets/press-kit/badges/solid-dark/solid-dark.ai" target="_blank">Download .ai</a></li>
                <li><a href="/pages/assets/press-kit/badges/solid-dark/solid-dark.png" target="_blank">Download .png</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default media-item">
            <div class="panel-body-subdued media-photo">
              <img src="/pages/assets/press-kit/badges/solid-blue/solid-blue.svg" alt="HIPAA Badge Solid Blue" />
            </div>
            <div class="panel-body">
              <h4>HIPAA Badge - Solid Blue</h4>
              <ul class="media-links">
                <li><a href="/pages/assets/press-kit/badges/solid-blue/solid-blue.ai" target="_blank">Download .ai</a></li>
                <li><a href="/pages/assets/press-kit/badges/solid-blue/solid-blue.png" target="_blank">Download .png</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default media-item media-item-dark">
            <div class="panel-body-subdued media-photo">
              <img src="/pages/assets/press-kit/badges/solid-light/solid-light.svg" alt="HIPAA Badge Solid Light" />
            </div>
            <div class="panel-body">
              <h4>HIPAA Badge - Solid Light</h4>
              <ul class="media-links">
                <li><a href="/pages/assets/press-kit/badges/solid-light/solid-light.ai" target="_blank">Download .ai</a></li>
                <li><a href="/pages/assets/press-kit/badges/solid-light/solid-light.png" target="_blank">Download .png</a></li>
              </ul>
            </div>
          </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default media-item">
          <div class="panel-body-subdued media-photo">
            <img src="/pages/assets/press-kit/badges/outline-dark/outline-dark.svg" alt="HIPAA Badge Outline Dark" />
          </div>
          <div class="panel-body">
            <h4>HIPAA Badge - Outline Dark</h4>
            <ul class="media-links">
              <li><a href="/pages/assets/press-kit/badges/outline-dark/outline-dark.ai" target="_blank">Download .ai</a></li>
              <li><a href="/pages/assets/press-kit/badges/outline-dark/outline-dark.png" target="_blank">Download .png</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default media-item media-item-dark">
          <div class="panel-body-subdued media-photo">
            <img src="/pages/assets/press-kit/badges/outline-light/outline-light.svg" alt="HIPAA Badge Outline Light" />
          </div>
          <div class="panel-body">
            <h4>HIPAA Badge - Outline Light</h4>
            <ul class="media-links">
              <li><a href="/pages/assets/press-kit/badges/outline-light/outline-light.ai" target="_blank">Download .ai</a></li>
              <li><a href="/pages/assets/press-kit/badges/outline-light/outline-light.png" target="_blank">Download .png</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



{{#if press_enabled}}
  <div class="container">
    <div class="row section">
      <div class="col-sm-12">
        <h2 class="section-title">Aptible in the Press</h2>
      </div>

      <div class="row press-quotes">
        {{#each press}}
          <div class="col-sm-4">
            <div class="press-quote">
              <div class="post-date">{{moment posted format="DD MMMM YYYY"}}</div>
              <div class="quote">{{quote}}</div>
              <div class="press-logo">
                <img src="{{logo}}" alt="{{name}}" {{#if logo_width }} style="width:{{logo_width}};"{{/if}}/>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

    </div>
  </div>
{{/if}}
