---
header_title: Getting Started
header_subtitle: Step-by-step guides for getting started with Aptible
---

- content_for :header do
  = partial 'partials/headers/support-index', locals: {                       |
      header_title: current_page.data.header_title,                           |
      header_subtitle: current_page.data.header_subtitle                      |
    }                                                                         |

.content
  .grid-container.grid--4up
    - data.quickstart.each do |title, language|
      %a.grid-item.card{ href: "/support/quickstart/#{language.url}", class: language.slug }
        .card__header
          %h3.card__title= title
          .card__icon
            = partial "images/icons/#{language.svg}"
        .card__body= language.description

.documentation-main
  %h3.sub-title Which #{language.name} framework are you using?
  .container
    .categories
      .row
        .category-wrapper{ class: "category-#{language.articles.count}" }
          - language.articles.each do |article|
            .col-xs-12.col-sm-4.col-md-3
              %a.category-box{ href: "/support/quickstart/#{article.url}", class: article.slug }
                .category-icon= partial "/images/icons/#{article.svg}"
                .category-footer
                  .category-title= article.framework
