---
header_title: Quickstart Guides
header_subtitle: Step-by-step guides for getting started with Aptible
header_search: false
layout: layout
---

= partial 'partials/headers/support-index'

.content
  .grid-container.grid--4up
    - data.quickstart.each do |title, language|
      %a.grid-item.card{ href: "/support/quickstart/#{language.url}", class: language.slug }
        .card__header
          %h3.card__title= title
          .card__icon
            = partial "images/icons/#{language.svg}"
        .card__body= language.description
