---
header_title: Quickstart Guides
header_subtitle: Step-by-step guides for getting started with Aptible
header_search: false
layout: layout
---

= partial 'partials/headers/support-home'

.content
  .grid-container.grid--4up

    - data.quickstart.each do |title, language|

      %a.card{ href: "/support/quickstart/#{language.url}", class: language.slug }
        .card__body
          .card__title= title
          .card__title-rule
          .card__copy= language.description
        .card__icon
          = partial "images/icons/#{language.svg}"
