---
title: 'HIPAA Compliance: What is it and how does it work?'
description: What do startups and small businesses need to know about HIPAA compliance? This article explains the requirements, defines PHI, and describes how all of it will impact your company.
---

%section
  %h1 HIPAA Compliance: Guide for startups
  %p Explosive growth in digital health over the last few years means there are many developers and managers who haven’t worked under HIPAA before. This article is written for startups (and small businesses operating online) who could use some help with the basics of HIPAA compliance.
  %p This post is lengthy, but if you read it all, by the end you will have a solid understanding of HIPAA, compliance with HIPAA requirements, and how all of this will affect your company.
  %p <i>One caveat: This post is for informational purposes only. Aptible is not a law firm, and this post is not legal advice. You should contact an attorney to obtain advice with respect to any particular issue or problem.</i>
  %p You can also jump directly to the <a href="/hipaa/regulations/164-306-security-general/">Security</a>, <a href="/hipaa/regulations/164-502-uses-disclosures-general/">Privacy</a>, and <a href="/hipaa/regulations/164-404-notification-individuals/">Breach Notification</a> regulations.

%section
  %h2 Table of Contents
  %ol
    %li= link_to('What is HIPAA Compliance?', '#what-is-hipaa-compliance')
    %li= link_to('Who is impacted by HIPAA requirements?', '#who-is-impacted-by-hipaa-requirements')
    %li= link_to('What data do we need to protect under HIPAA?', '#what-data-does-hipaa-regulate')
    %li= link_to('Who will check if we are HIPAA compliant?', '#who-will-check-if-we-are-hipaa-compliant')
    %li= link_to('Can we be fined for HIPAA violations where there is no breach of PHI?', '#can-we-be-fined-for-hipaa-violations-where-there-is-no-breach-of-phi')
    %li= link_to('How do we become HIPAA compliant?', '#how-do-we-become-hipaa-compliant')
    %li
      = link_to('What are the HIPAA rules?', '#what-are-the-hipaa-rules')
      %ul
        %li= link_to('The Privacy Rule', '#the-privacy-rule')
        %li= link_to('The Security Rule', '#the-security-rule')
        %li= link_to('The Breach Notification Rule', '#the-breach-notification-rule')
    %li= link_to('Next Steps', '#next-steps')

%section#what-is-hipaa-compliance
  %h2 What is HIPAA Compliance?
  %p HIPAA is a federal law that protects the privacy and security of health data. It is enforced by the Office for Civil Rights (OCR) of the U.S. Department of Health and Human Services (HHS).
  %p HIPAA was passed in 1996 and updated by a law called HITECH in 2009. In 2013, HHS published a large administrative “Omnibus” rule to implement HITECH. For our purposes, HIPAA, HITECH, and the Omnibus Rule all refer to the same concept: The HIPAA regulations.
  %p The HIPAA regulatory rules are, in practice, the most important aspect of HIPAA because they define the obligations of regulated entities and penalties for non-compliance. When we talk about “HIPAA compliance,” we are referring to compliance with the regulatory rules.
  %p The HIPAA regulations apply to organizations, not products or features. A company can say it is “HIPAA compliant”, but it doesn’t make sense to refer to a product that way.
  %p If you are regulated, HIPAA requires that you ensure your organization:
  %ol
    %li Control how you use regulated data internally and how you disclose it externally.
    %li Manage data security and risk with formal policies and internal controls.
    %li Identify and respond to security incidents and potential breaches of regulated data.
  %p That is a drastically simplified summary, of course. In practice, the requirements are more complicated. The <a href="http://www.hhs.gov/hipaa/for-professionals/compliance-enforcement/audit/protocol-current/index.html" target="_blank">pilot audit protocol</a> U.S. Department of Health and Human Services (HHS) used for its first round of audits has several hundred “key activities,” most of which contain several audit procedures. The most challenging part of a good HIPAA compliance program is being able to prove to an auditor or OCR enforcement agent that you did everything you were required to, and that you made reasonable decisions along the way.

%section#who-is-impacted-by-hipaa-requirements
  %h2 Who is impacted by HIPAA requirements?
  %p HIPAA’s formal name is the Health Insurance Portability and Accountability Act of 1996. HIPAA has a special limit: it only regulates entities that handle data that has been (or will be) related to a health insurance transaction.
  %p HIPAA divides regulated entities into two categories:
  %ul
    %li <strong>Covered Entities</strong> - Health insurers, self-insured employers, claims clearinghouses, and health care providers who engage in certain types of electronic insurance transactions. In practice, almost all providers that take insurance are regulated, even if only some of their patients use insurance.
    %li <strong>Business Associates</strong> - There are several kinds of business associates. The most common type is an organization that handles PHI on behalf of a covered entity or another business associate. HIPAA requires that business associate relationships be formalized in a contract or agreement, commonly called a “Business Associate Agreement” or BAA.
  %p Business associate relationships can form a chain, usually when multiple sub-vendors are needed to provide a service. This is very common in cloud-based SaaS.
  %p An example may be helpful: <a href="https://teamstitch.com/" target="_blank">Stitch</a> is a team communication platform for healthcare professionals. Doctors and other providers can chat, send private messages, and share pictures, video, and files with each other. Stitch has a freemium model where larger customers pay for advanced features. Stitch runs on Aptible, which in turn runs on AWS.
  %p In this example, Stitch’s customers are usually covered entities. Stitch is their business associate, because Stitch handles PHI on their behalf. Stitch in turn has several business associates, including vendors like Aptible. For a typical Aptible customer, AWS is Aptible’s business associate. Aptible customers don’t need to execute a BAA with AWS unless they want to use a HIPAA-eligible AWS product on their own, such as S3.
  %p To determine whether your specific organization is regulated, you should consult an attorney.

%section#what-data-does-hipaa-regulate
  %h2 What data do we need to protect under HIPAA?
  %p To be regulated, health data must be individually identifiable and contain health information. Together, this would be what HIPAA calls “protected health information” (PHI). General personally identifiable information (PII) alone is usually not enough, but this can be tricky: PHI is a very, very broad category.
  %p As <a href="http://www.hhs.gov/hipaa/for-professionals/privacy/special-topics/de-identification/index.html" tagret="_blank">HHS</a> says:
  %blockquote
    %p Protected health information is information, including demographic information, which relates to:
    %ul
      %li the individual’s past, present, or future physical or mental health or condition,
      %li or the provision of health care to the individual,
      %li or the past, present, or future payment for the provision of health care to the individual
      %li and that identifies the individual or for which there is a reasonable basis to believe can be used to identify the individual.
  %p Protected health information includes many common identifiers (e.g., name, address, birth date, Social Security Number) when they can be associated with the health information listed above.
  %p PHI is broader than just health insurance transaction data. HIPAA is like a springing trap - it hooks you, then expands to cover much more data than the hook.
  %p Two special notes:
  %ol
    %li <strong>De-Identification:</strong> Aggregate or de-identified data is not considered PHI. HIPAA has specific rules for how to de-identify datasets.
    %li <strong>Encryption:</strong> Encrypting PHI does not change its status as PHI. You and anyone who handles encrypted PHI for you must still comply with the HIPAA rules, including the requirement to have a BAA in place.

%section#who-will-check-if-we-are-hipaa-compliant
  %h2 Who will check if we are HIPAA compliant?
  %ul
    %li <strong>The Office for Civil Rights</strong> of the Department of Health and Human Services is conducting its first round of HIPAA business associate audits in 2016. The audits will be a mix of on-site audits and “desk” audits, where entities submit proof of compliance remotely. HHS publishes <a href="http://www.hhs.gov/hipaa/for-professionals/compliance-enforcement/audit/protocol-current/index.html" target="_blank">sample audit protocol</a> that will likely resemble the protocol used for the upcoming audits.
    %li 
      %p <strong>Your Customers & Partners</strong> will want to see evidence of your security and compliance practices before they entrust you with sensitive data. Compared to the likelihood of an HHS audit, customer audits are almost guaranteed. Smaller entities may send you a short checklist or schedule a brief meeting to review your security posture.
      %p Larger, more sophisticated customers and partners will run you through an extensive vendor security review process involving a combination of:
      %ul
        %li Security and compliance questionnaires
        %li Risk assessment reviews of your answers
        %li Negotiation of remedial controls and timelines for implementing those controls
        %li Requests for third-party assessments of your risk and security management program (vuln scans, pen tests, HITRUST/SOC/ISO certifications, etc.)
        %li Requests for direct evidence of your risk and security management program (policies and procedures, audit logs, training records, subvendor contracts, etc.)
    %li <strong>Third-Party Auditors</strong> you hire to assess your organization. HITRUST is commonly used, although many consulting firms will conduct HIPAA-specific assessments.

%section#can-we-be-fined-for-hipaa-violations-where-there-is-no-breach-of-phi
  %h2 Can we be fined for HIPAA violations where there is no breach of PHI?
  %p Yes, HHS can impose fines for violations of any provision of the HIPAA rules, not just ones that result in breaches.
  %p Breaches are the only violations with reporting requirements, but HHS may investigate any complaint that a covered entity or business associate is not complying with the HIPAA regulations. That said, OCR usually reserves fines for cases where a breach occurs. HHS has the discretion to determine the amount of a penalty, up to certain limits, and must consider factors such as the nature and extent of the harm resulting from a violation. Breaches are more likely to cause serious harm, whereas other violations may be less harmful.

%section#how-do-we-become-hipaa-compliant
  %h2 How do we become HIPAA compliant?
  %p The dumb answer is just “follow the HIPAA rules.” If you comply with the rules, then you are “HIPAA compliant.” Duh.
  %p There are several problems with the dumb answer:
  %ol
    %li <strong>Complexity</strong> - Again, look at a <a href="http://www.hhs.gov/hipaa/for-professionals/compliance-enforcement/audit/protocol-current/index.html" target="_blank">sample audit protocol</a>. Even if you determine the applicable rules and satisfy them all at a single point in time, maintaining compliance over time is difficult and expensive, especially in terms of your team’s time.
    %li <strong>Ambiguity</strong> - In order to maintain HIPAA compliance, you are responsible for implementing what HIPAA calls “reasonable and appropriate safeguards” over PHI, but it’s not always clear which rules apply to you, and how. For example, encryption in transit is an “addressable” implementation specification under the Security Rule. Is it reasonable and appropriate not to encrypt traffic between an app and a database inside a virtual private cloud? What if the database protocol doesn’t support encryption? Should you use a different database? There is little official guidance for engineers and developers today, although HHS has announced plans to publish some in the future.
    %li <strong>Uncertainty</strong> - There is no official certification for HIPAA. Ultimately only OCR can decide whether you have been compliant or not, following an investigation or enforcement action. Obviously you would like to avoid those. Hopefully the upcoming HITECH audit program results will clarify how HHS interprets some of its own rules.
  %p
    %strong A better answer to “How do we become HIPAA compliant?” might be:
  %ol
    %li Decide which HIPAA rules apply to you.
    %li Decide how your technology maps to the rules.
    %li 
      Decide on a repeatable, scalable strategy for tracking compliance events. The low end might be a spreadsheet, the high end might be a GRC (“governance, risk management, and compliance”) system. Examples of things you might want to track include:
      %ul
        %li Checklists for regular organizational and app security reviews
        %li Audit logs for app and backend access permission establishment, modification, and termination
        %li Audit logs for app and backend access events
        %li Product security documentation
        %li Internal control documentation (i.e., “policies and procedures”)
        %li Internal and external security assessment results
        %li BAAs and other critical legal contracts
        %li Incident response tickets
        %li Your own vendor security assessments
    %li Decide on a risk management framework (e.g., NIST SP 800-37 Rev 1) and begin with a preliminary risk assessment.
    %li Decide on internal administrative controls (aka “policies and procedures”).
    %li Design, conduct, and audit training for your workforce.
    %li Select, implement, and maintain security controls.
    %li Conduct operations, including regular security assessments.
    %li Respond to potential privacy and security incidents, including HIPAA breaches.
    %li Repeat all of the above on a regular basis. “No less than annually and as needed based on operational events” is a good starting point.
  %p You will probably want help with this at some point. You can hire in-house, hire a consultancy, buy a product/service (such as Aptible), or some combination of those.

%section#what-are-the-hipaa-rules
  %h2 What are the HIPAA rules?
  %p HIPAA has three main “rules,” or sets of regulations, that specify how regulated organizations need to operate and handle PHI. HIPAA actually has more rules, but most of the time when we use the phrase “HIPAA compliance,” we are referring to these three.
  
  %h3#the-privacy-rule The Privacy Rule
  %p <strong>The HIPAA Privacy Rule</strong> applies to PHI in all forms (oral, written, electronic, etc.), and covers issues such as:
  %ul
    %li Making sure your workforce only uses and discloses PHI for certain authorized business purposes. No peeking at celebrity medical records, looking up your friends’ data out of curiosity, or selling PHI.
    %li Using or disclosing just the minimum necessary amount of PHI to accomplish whatever the current task is. Don’t transmit an entire medical record if you don’t need to.
    %li Executing BAAs with your customers, vendors, and partners.
    %li De-identification standards for PHI.
    %li Patient rights to access, amend, restrict use of, and obtain an accounting of disclosures of their own PHI.
    %li Requirements specific to covered entities, such as designating a privacy officer, workforce privacy training, safeguards, handling complaints, internal sanctions, publishing and updating a notice of privacy practices, and more.
  
  %h3#the-security-rule The Security Rule
  %p <strong>The HIPAA Security Rule</strong> applies only to electronic PHI. It contains requirements for administrative, physical, and technical safeguards. It also requires published policies and procedures that document how you select and enforce those safeguards. You must retain documentation and evidence of your Security Rule compliance for six years.
  %p For many engineering organizations, the Security Rule is the hardest, most burdensome part of HIPAA. It can also be confusing: The rule is divided into “standards,” which are required but often vague, and “implementation specifications,” which are either required or “addressable” and usually not much more specific than the standards. HHS is working on collecting questions from digital health developers, but firm guidance and best practices are still be hard to come by.
  %p In order to help you understand how the Security Rule may apply to a cloud-based SaaS team, we’ve included the following questions and notes. You can read the <a href="/hipaa/regulation/160-101-statutory-basis-purpose/">text of the regulations</a> to compare.

%section
  %h2 Administrative Safeguards
  %p Management controls, encoded in policies and procedures, related to how you select and implement a security management program, including risk management.
  %p Specific safeguards include:
  %ul
    %li
      %strong Security Management Process:
      %ul
        %li <strong>Risk Analysis (required):</strong> How do you compare different types of risks to each other? How do you track risk over time? How do you get information about risks, and decide which ones are relevant?
        %li <strong>Risk Management (required):</strong> How do you use risk analysis results to decide on and prioritize security controls? What levels of risk are acceptable?
        %li <strong>Sanction Policy (required):</strong> What happens to employees who violate your policies, including the HIPAA rules? How do you track sanctions?
        %li <strong>Information System Activity Review (required):</strong> How do you audit app-level and backend activity?
    %li <strong>Assigned Security Responsibility (required):</strong> Do you have a formal HIPAA Security Officer?
    %li
      %strong Workforce Security:
      %ul
        %li <strong>Authorization and/or Supervision (addressable):</strong> How do you administratively determine whether an employee or contractor should access PHI?
        %li <strong>Workforce Clearance Procedure (addressable):</strong> How do you administratively clear them for access?
        %li <strong>Termination Procedures (addressable):</strong> When and how do you administratively terminate access?
    %li
      %strong Information Access Management:
      %ul
        %li <strong>Isolating Healthcare Clearinghouse Function (required):</strong> Only applies if you have a healthcare clearinghouse function. You probably don’t. If you’re not sure, ask a lawyer.
        %li <strong>Access Authorization (addressable):</strong> How do you technically and procedurally control access rights to PHI?
        %li <strong>Access Establishment and Modification (addressable):</strong> Same as above.
    %li
      %strong Security Awareness And Training:
      %ul
        %li <strong>Security Reminders (addressable):</strong> Periodic reminders to fill the gaps between security training sessions.
        %li <strong>Protection from Malicious Software (addressable):</strong> Can be part of security training. Do you run anti-virus on laptops and workstations? How do you enforce that configuration? Do you have a secure systems development lifecycle policy? Do you use code review, code testing, continuous integration, or continuous delivery?
        %li <strong>Log-in Monitoring (addressable):</strong> How do you monitor app and backend logins? Do you use an alerting and notification system?
        %li <strong>Password Management (addressable):</strong> Do you require password managers? Does your security training cover passwords and password management?
    %li <strong>Security Incident Procedures (required):</strong> How do you respond to and report potential and confirmed security incidents?
    %li
      %strong Contingency Planning:
      %ul
        %li <strong>Data Backup Plan (required):</strong> How is PHI backed up?
        %li <strong>Disaster Recovery Plan (required):</strong> How does your organization handle availability incidents? Do you have a formal disaster recovery plan? What is your bus factor?
        %li <strong>Emergency Mode Operation Plan (required):</strong> What happens if an entire AWS region goes down? What happens if your office loses power, or part/all of your workforce is unavailable?
        %li <strong>Testing and Revision Procedure (addressable):</strong> Do you conduct tabletop and/or technical testing? How often? What are the procedures and evaluation criteria?
        %li <strong>Applications and Data Criticality Analysis (addressable):</strong> Are some of your apps and database more critical than others?
    %li <strong>Evaluation (required):</strong> How do you evaluate and track your own Security Rule compliance? How often? Do you have a security assessment strategy? What mix of internal and external products and services do you use? Do you vuln scan and/or pen test? Do you run a vulnerability bounty program?
    %li <strong>Business Associate Contracts and Other Arrangement (required):</strong> Do your vendor BAAs include appropriate security obligations? How do you ensure that?

%section
  %h2 Physical Safeguards
  %p Controls to protect the physical facilities, computers, and devices that house PHI, such as data centers, offices, laptops, thumbdrives, workstations, etc. Most cloud-deployed SaaS companies try to limit their physical footprint, in terms of handling PHI. Specific scoping measures might include prohibiting your team from downloading or persisting PHI to laptops, phones, and portable media.
  %p Specific safeguards include:
  %ul
    %li
      %strong Facility Access Controls:
      %ul
        %li <strong>Contingency Operations (addressable):</strong> Does your workforce need physical access to systems and devices that house PHI in the event of an emergency? Probably not.
        %li <strong>Facility Security Plan (addressable):</strong> Do you maintain a facility or equipment that houses electronic PHI? Probably not.
        %li <strong>Access Control and Validation Procedures (addressable):</strong> Same as above.
        %li <strong>Maintenance Records (addressable):</strong> Same as above.
    %li <strong>Workstation Use (required):</strong> Most SaaS engineering teams will use laptops and desktops for work. Do you have a laptop security policy? How do you enforce it?
    %li <strong>Workstation Security (required):</strong> How do you secure work computers, including laptops?
    %li
      <strong>Device And Media Controls:</strong> Ideally you leave all PHI in your production cloud environment, and do not permit PHI to be stored on hardware or electronic media that you manage.
      %ul
        %li <strong>Disposal (required):</strong> How you destroy devices and media that handle PHI, if any?
        %li <strong>Media Re-use (required):</strong> How you securely wipe devices and media that handle PHI, if any?
        %li <strong>Accountability (addressable):</strong> How you track devices and media that handle PHI, if any?
        %li <strong>Data Backup and Storage (addressable):</strong> How you back up devices and media that handle PHI, if any?

%section
  %h2 Technical Safeguards
  %p Controls implemented through engineering processes. The technical safeguards contain elements of privacy and security by design, and should be incorporated as early as possible into your technical design process.
  %p Specific safeguards include:
  %ul
    %li
      %strong Access Controls:
      %ul
        %li <strong>Unique User Identification (required):</strong> How do you ensure each user is uniquely identified? Do you have a method to discourage, prohibit, or obviate shared accounts?
        %li <strong>Emergency Access Procedure (required):</strong> Are there any types of emergencies or availability events that would require you or your users to have special access to your apps or backend?
        %li <strong>Automatic Logoff (addressable):</strong> How do you manage app and backend sessions? Are there differences between app, database tunnel, and SSH methods?
        %li <strong>Encryption and Decryption (addressable):</strong> Do you encrypt PHI at rest? If so, where and how? How do you manage keys?
    %li <strong>Audit Controls (required):</strong> How do you audit app and backend activity? Where are logs stored? Who can access them? Can they be modified? How are audit logs backed up? How long are they retained?
    %li
      %strong Integrity Controls:
      %ul
        %li <strong>Mechanism to Authenticate Electronic Protected Health Information (addressable):</strong> Do you have app or backend integrity checking for data at rest? You might do this already without realizing it: AWS S3 has built-in integrity checking.
    %li <strong>Person or Entity Authentication (required):</strong> How do your app and backend handle authentication? Do you implement MFA? Do you enforce password entropy or lifecycle requirements?
    %li
      %strong Transmission Security:
      %ul
        %li <strong>Integrity Controls (addressable):</strong> SSL/TLS has built-in integrity checking. Do you use additional network integrity controls?
        %li <strong>Encryption (addressable):</strong> How do you encrypt data in transit? What SSL/TLS ciphers and key lengths do you permit? How do you manage certificates?

%section#the-breach-notification-rule
  %h2 The Breach Notification Rule
  %p The <i>HIPAA Breach Notification Rule</i> establishes:
  %ul
    %li What constitutes a reportable HIPAA breach
    %li What you must do in case of a breach
    %li
      Who you must notify in the event of a breach. Possible entities include:
      %ul
        %li Your customers
        %li Individuals whose identity was breached
        %li HHS
        %li Law enforcement
        %li The media
    %li How quickly you must notify
  %p In many cases, your BAA with a larger customer will be more stringent than what the Breach Notification Rule requires. For example, you might have to report breaches sooner than 60 days following your discovery of the breach.
  %p The Breach Notification Rule also contains the rules under which unauthorized access to encrypted PHI can be excluded from being a reportable breach.

%section#next-steps
  %h2 Next Steps
  %p You now know just enough about HIPAA and how to become compliant to be dangerous. As you plan out your go-to market strategy, you’ll be able to identify potential issues before they arise. If you’d like to chat about how to design and scale a HIPAA compliant engineering organization in the cloud, feel free to <a href="https://twitter.com/aptible" target="_blank">get in touch with us</a> anytime.
  %p Discuss this post on <a href="https://news.ycombinator.com/item?id=11377862" target="_blank">Hacker News</a>.
  %p <i>Update - March 29, 2016: Added a table of contents and link to Hacker News discussion.</i>
  %p <i>Update - October 29, 2016: Formatting edits.</i>
  %p <i>Update - March 17, 2017: Editing for clarity.</i>
