---
header_title: Aptible Toolbelt
header_subtitle: A command-line interface for your Aptible services
header_search: false
layout: layout
---

- content_for :header do
  = partial 'partials/headers/support-index'

.content
  .grid-container.grid--4up.toolbelt-platforms
    %a.active.grid-item.card.toolbelt-platform{ href: '#osx', class: 'osx' }
      .card__header.toolbelt-platform--logo
        = partial "images/icons/osx.svg"
      .card__body
        %h3 macOS
        %p Download the macOS binary.

    %a.grid-item.card.toolbelt-platform{ href: '#ubuntu', class: 'ubuntu' }
      .card__header.toolbelt-platform--logo
        = partial "images/icons/ubuntu.svg"
      .card__body
        %h3 Ubuntu
        %p
          Download a binary for Ubuntu
          = data.toolbelt.os.ubuntu.keys[0]
          or
          = data.toolbelt.os.ubuntu.keys[1]

    %a.grid-item.card.toolbelt-platform{ href: '#debian', class: 'debian' }
      .card__header.toolbelt-platform--logo
        = partial "images/icons/debian.svg"
      .card__body
        %h3 Debian
        %p
          Download a binary for Debian
          = data.toolbelt.os.debian.keys[0]
          or
          = data.toolbelt.os.debian.keys[1]

    %a.grid-item.card.toolbelt-platform{ href: '#enterprise-linux', class: 'enterprise-linux' }
      .card__header.toolbelt-platform--logo
        = partial "images/icons/enterprise-linux.svg"
      .card__body
        %h3 Enterprise Linux
        %p
          Download a binary for Enterprise Linux
          = data.toolbelt.os.centos.keys[0]
          or
          = data.toolbelt.os.centos.keys[1]

  .grid-container.grid--single-center.download-panels
    -# OSX Panel
    .grid-item.download-panel.active#osx
      %h2.download-panel__title Download Aptible Toolbelt for macOS
      %a.btn.btn-primary.btn-lg{ href: data.toolbelt.os.osx }
        = partial '/images/icons/icon-download.svg'
        Download #{data.toolbelt.version} for macOS

    -# Ubuntu Panel
    .grid-item.card.download-panel.split-panel#ubuntu
      -# Ubuntu 14.04
      .download-panel-left
        %h2 Ubuntu 14.04
        .download-container
          %a.btn.btn-primary.btn-lg.download-button{ href: data.toolbelt.os.ubuntu['14.04'] }
            = partial '/images/icons/icon-download.svg'
            %span Download #{data.toolbelt.version} for Ubuntu 14.04
      -# Ubuntu 16.04
      .download-panel-right
        %h2 Ubuntu 16.04
        .download-container
          %a.btn.btn-primary.btn-lg.download-button{ href: data.toolbelt.os.ubuntu['16.04'] }
            = partial '/images/icons/icon-download.svg'
            %span Download #{data.toolbelt.version} for Ubuntu 16.04
      .installation-instructions
        %h3 Installation Instructions
        .help-block When the download completes, use your package manager (graphical or command line) and install the package. You'll need to use sudo to elevate your permissions.

        %h4 Download URLs
        %ul.download-urls
          %li
            %strong Ubuntu 14.04
            %span= data.toolbelt.os.ubuntu['14.04']
          %li
            %strong Ubuntu 16.04
            %span= data.toolbelt.os.ubuntu['16.04']


    -# Debian Panel
    .grid-item.card.download-panel.split-panel#debian
      -# Debian 7.10
      .download-panel-left
        %h2 Debian 7
        .download-container
          %a.btn.btn-primary.btn-lg.download-button{ href: data.toolbelt.os.debian['7'] }
            = partial '/images/icons/icon-download.svg'
            %span Download #{data.toolbelt.version} for Debian 7
      -# Debian 8.4
      .download-panel-right
        %h2 Debian 8
        .download-container
          %a.btn.btn-primary.btn-lg.download-button{ href: data.toolbelt.os.debian['8'] }
            = partial '/images/icons/icon-download.svg'
            %span Download #{data.toolbelt.version} for Debian 8
      .installation-instructions
        %h3 Installation Instructions
        .help-block When the download completes, use your package manager (graphical or command line) and install the package. You'll need to use sudo to elevate your permissions.

        %h4 Download URLs
        %ul.download-urls
          %li
            %strong Debian 7
            %span= data.toolbelt.os.debian['7']
          %li
            %strong Debian 8
            %span= data.toolbelt.os.debian['8']

    -# Enterprise Linux Panel
    .card.download-panel.split-panel#enterprise-linux
      -# Enterprise Linux 6.7
      .download-panel-left
        %h2 Enterprise Linux 6
        .download-container
          %a.btn.btn-primary.btn-lg.download-button{ href: data.toolbelt.os.centos['6'] }
            = partial '/images/icons/icon-download.svg'
            %span Download #{data.toolbelt.version} for Enterprise Linux 6
      -# Enterprise Linux 8.4
      .download-panel-right
        %h2 Enterprise Linux 7
        .download-container
          %a.btn.btn-primary.btn-lg.download-button{ href: data.toolbelt.os.centos['7'] }
            = partial '/images/icons/icon-download.svg'
            %span Download #{data.toolbelt.version} for Enterprise Linux 7
      .installation-instructions
        %h3 Installation Instructions
        .help-block When the download completes, use your package manager (graphical or command line) and install the package. You'll need to use sudo to elevate your permissions.

        %h4 Download URLs
        %ul.download-urls
          %li
            %strong EL 6
            %span= data.toolbelt.os.centos['6']
          %li
            %strong EL 7
            %span= data.toolbelt.os.centos['7']

  .container.aptible-toolbelt
    .grid-container.grid--2up.grid-container--ruled
      .grid-item
        %h3.heading__subtitle Getting Started
        %h2.heading__title Logging In
        %p.heading__summary
          Once installed, you'll have access to the aptible command from your
          command shell. Log in using the email address and password you used
          when creating your Aptible account:

      .grid-item
        %pre.highlight.plaintext
          %table.rouge-table
            %tr
              %td.rouge-code.rouge-code--no-num.rouge-code--terminal
                .terminal $ aptible login
                .terminal-interactive Email: skylar@aptible.com
                .terminal-interactive Password:
                .terminal-interactive 2FA Token: 555999
                .terminal-response Success! Token written to $HOME/.aptible/tokens.json

    .grid-container.grid--2up.grid-container--ruled
      .grid-item
        %h3.heading__subtitle Getting Started
        %h2.heading__title Create an App
        %p.heading__summary
          You're now ready to create your first Aptible app. Use the
          %code aptible apps:create
          command to create an app.  Once the app is created, you’ll be shown
          a git remote you can push your app to.

      .grid-item
        %pre.highlight.plaintext
          %table.rouge-table
            %tr
              %td.rouge-code.rouge-code--no-num.rouge-code--terminal
                .terminal $ aptible apps:create healthco-on-rails
                .terminal-interactive healthco-on-rails created successfully!
                .terminal-interactive git remote:
                .terminal-response git@beta.aptible.com:healthco-on-rails.git

    .grid-container.grid--single-center
      .grid-item
        %h2.heading__title.heading__title--centered Full CLI Command Reference

        %pre.highlight.plaintext
          %table.rouge-table.rouge-table--full-width
            %tbody
              %tr
                %td.rouge-code.rouge-code--no-num.rouge-code--terminal
                  .terminal $ aptible help
                  .terminal Commands:
                  .terminal &nbsp; aptible apps
                  .terminal &nbsp; aptible apps:create HANDLE
                  .terminal &nbsp; aptible apps:deprovision
                  .terminal &nbsp; aptible apps:scale TYPE NUMBER
                  .terminal &nbsp; aptible backup:list DB_HANDLE
                  .terminal &nbsp; aptible backup:restore [--handle HANDLE] [--size SIZE_GB]
                  .terminal &nbsp; aptible config
                  .terminal &nbsp; aptible config:add
                  .terminal &nbsp; aptible config:rm
                  .terminal &nbsp; aptible config:set
                  .terminal &nbsp; aptible config:unset
                  .terminal &nbsp; aptible db:backup HANDLE
                  .terminal &nbsp; aptible db:clone SOURCE DEST
                  .terminal &nbsp; aptible db:create HANDLE
                  .terminal &nbsp; aptible db:deprovision HANDLE
                  .terminal &nbsp; aptible db:dump HANDLE
                  .terminal &nbsp; aptible db:execute HANDLE SQL_FILE
                  .terminal &nbsp; aptible db:list
                  .terminal &nbsp; aptible db:tunnel HANDLE
                  .terminal &nbsp; aptible domains
                  .terminal &nbsp; aptible help [COMMAND]
                  .terminal &nbsp; aptible login
                  .terminal &nbsp; aptible logs
                  .terminal &nbsp; aptible ps
                  .terminal &nbsp; aptible rebuild
                  .terminal &nbsp; aptible restart
                  .terminal &nbsp; aptible ssh [COMMAND]
                  .terminal &nbsp; aptible version
                %td.rouge-code.rouge-code--no-num.rouge-code--terminal
                  .terminal-interactive &nbsp;
                  .terminal-interactive &nbsp;
                  .terminal-interactive # List all applications
                  .terminal-interactive # Create a new application
                  .terminal-interactive # Deprovision an app
                  .terminal-interactive # Scale app to NUMBER of instances
                  .terminal-interactive # List backups for a database
                  .terminal-interactive # Restore a backup
                  .terminal-interactive # Print an app's current configuration
                  .terminal-interactive # Add an ENV variable to an app
                  .terminal-interactive # Remove an ENV variable from an app
                  .terminal-interactive # Alias for config:add
                  .terminal-interactive # Alias for config:rm
                  .terminal-interactive # Backup a database
                  .terminal-interactive # Clone a database to create a new one
                  .terminal-interactive # Create a new database
                  .terminal-interactive # Deprovision a database
                  .terminal-interactive # Dump a remote database to file
                  .terminal-interactive # Executes sql against a database
                  .terminal-interactive # List all databases
                  .terminal-interactive # Create a local tunnel to a database
                  .terminal-interactive # Print an app's current virtual domains
                  .terminal-interactive # Describe available commands or one specific command
                  .terminal-interactive # Log in to Aptible
                  .terminal-interactive # Follows logs from a running app
                  .terminal-interactive # Display running processes for an app - DEPRECATED
                  .terminal-interactive # Rebuild an app, and restart its services
                  .terminal-interactive # Restart all services associated with an app
                  .terminal-interactive # Run a command against an app
                  .terminal-interactive # Print Aptible CLI version

    .grid-container.grid--2up
      .grid-item
        %h2.heading__title Toolbelt Support Topics
        %p.heading__summary
          Additional documentation for using the Toolbelt is available on the
          <a href='/support/topics'>Aptible Toolbelt topic page</a>.
        %ul.additional-topics
          - data.topics["Aptible CLI"].articles.each do |article|
            - next if article.hidden
            %li
              %a.category-article{ href: "/support/topics/#{article.url}" }= article.title

      .grid-item
        %h2.heading__title Aptible Toolbelt on GitHub
        %p The Aptible Toolbelt is open source and available on GitHub
        %ul.additional-topics
          %li
            %a.category-article{ href: 'https://github.com/aptible/omnibus-aptible-toolbelt'} https://github.com/aptible/omnibus-aptible-toolbelt
          %li
            %a.category-article{ href: 'https://github.com/aptible/aptible-cli'} https://github.com/aptible/aptible-cli
