<div class="row section get-started">
  <h1 class="get-started--title">{{ get-started.title }}</h1>
  <h4 class="get-started--sub-title">{{ get-started.sub-title }}</h4>
  <a class="btn btn-lg btn-primary" href="{{get-started.cta.href}}">{{get-started.cta.label}}</a>
  {{#if get-started-pricing}}
    <a class="arrow-link" href="/pricing">{{get-started.pricing.label}}</a>
  {{/if}}
</div>
