<div class="row section bordered why-aptible">
  <h1 class="why-title">{{why.title}}</h1>
  <h4 class="why-sub-title">{{why.sub-title}}</h4>
  <div class="col-sm-4">
    <div class="why-item">
      <div class="why-item--graphic">
        {{> home_padlock_svg }}
      </div>
      <div class="why-item--description">
        <h3>{{why.lockin.title}}</h3>
        <p>{{#markdown}}{{why.lockin.description}}{{/markdown}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="why-item">
      <div class="why-item--graphic">
        {{> home_cloud_svg }}
      </div>
      <div class="why-item--description">
        <h3>{{why.workflow.title}}</h3>
        <p>{{#markdown}}{{why.workflow.description}}{{/markdown}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="why-item">
      <div class="why-item--graphic {{why.lockin.className}}">
        {{> home_health_staff_svg }}
      </div>
      <div class="why-item--description">
        <h3>{{why.compliance.title}}</h3>
        <p>{{#markdown}}{{why.compliance.description}}{{/markdown}}</p>
      </div>
    </div>
  </div>
</div>
