<footer class="aptible-footer">
  <div class="aptible-mark"><div class="mark"></div></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Platform</li>
              <li><a href="/technology">Technology</a></li>
              <li><a href="/pricing/">Pricing</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Company</li>
              <li><a href="/company">About Us</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/company/careers/">Careers</a></li>
              <li><a href="/legal/terms_of_service.html">Legal</a></li>
              <li><a href="/company/press/">Press</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Support</li>
              <li><a href="/support">Contact Us</a></li>
              <li><a href="{{config.knowledge_base_url}}">Knowledge Base</a></li>
              <li><a href="/legal/responsible_disclosure.html">Responsible Disclosure</a></li>
              <li><a href="{{config.status_url}}">Status</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-footer">
      <ul class="nav navbar-nav">
        <li>© 2014 Aptible</li>
        <li>{{config.hello_email}}</li>
        <li>{{config.sales_phone}}</li>
        <li>{{config.address_1}} - {{config.city}}, {{config.state}} {{config.zip}}</li>
      </ul>
    </div>
  </div>
</footer>
