<footer class="aptible-footer">
  <div class="aptible-mark"><div class="mark"></div></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">About</li>
              <li><a href="/pricing.html">Pricing</a></li>
              <li><a href="/technology">Our Technology</a></li>
              <li><a href="/compliance">Compliance</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Company</li>
              <li><a href="/company/about_us.html">About Us</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/company/careers.html">Careers</a></li>
              <li><a href="/company/press.html">Press</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Support</li>
              <li><a href="/support/contact_support.html">Contact Us</a></li>
              <li><a href="{{config.knowledgebase_url}}">Knowledge Base</a></li>
              <li><a href="/legal">Legal</a></li>
              <li><a href="{{config.status_url}}">Status</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-footer">
      <ul class="nav navbar-nav">
        <li>© 2014 Aptible</li>
        <li>{{config.hello_email}}</li>
        <li>{{config.sales_phone}}</li>
        <li>{{config.address_1}} - {{config.city}}, {{config.state}} {{config.zip}}</li>
      </ul>
    </div>
  </div>
</footer>