<h1 class="product-stack--title primary-title">{{hero_title}}</h1>
<div class="product-stack">
  <div class="product-stack--feature feature-deployment">
    <h2 class="feature-title">{{product_stack.deployment.title}}</h2>
    <div class="feature-body">
      {{product_stack.deployment.body }}
      <a class="btn btn-lg btn-primary" href="{{product_stack.deployment.cta.href}}">{{product_stack.deployment.cta.text}}</a>
    </div>
  </div>
  <div class="product-stack--deployment-guide">
    <svg width="62px" height="250px" viewBox="0 0 62 250">
        <g id="deployment-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(0.000000, 1.000000)" stroke="#3498DB" stroke-width="2">
            <path d="M60.0607759,119 L60.0607759,249"></path>
            <path d="M59.0607759,183.999995 C59.0607743,184 50.5961954,183.999999 50.5961954,183.999999 C39.548021,183.999999 30.591706,175.04754 30.5917061,164.002427 L30.5917067,19.9975727 C30.5917067,8.95321827 21.6404912,1.67496595e-15 10.5921986,3.74234032e-15 L0,5.72436968e-15"></path>
          </g>
        </g>
    </svg>
  </div>
  <div class="product-stack--illustration">
    <img src="/assets/images/product-stack.png">
  </div>
  <div class="product-stack--compliance-guide">
    <svg width="62px" height="131px" viewBox="0 0 62 131" version="1.1">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g stroke="#3498DB" stroke-width="2">
          <path d="M61.9999991,64.4160171 C61.9999991,64.4160171 61.5584038,64.4160171 60.9984611,64.4160171 L0.619914132,64.4160171"></path>
          <path d="M1,0.416017124 L1,130.416017" transform="translate(1.000000, 65.416017) scale(-1, 1) translate(-1.000000, -65.416017)"></path>
        </g>
      </g>
    </svg>
  </div>
  <div class="product-stack--feature feature-compliance">
    <h2 class="feature-title">{{product_stack.compliance.title}}</h2>
    <div class="feature-body">
      {{product_stack.compliance.body }}
      <a class="btn btn-lg btn-primary" href="{{product_stack.compliance.cta.href}}">{{product_stack.compliance.cta.text}}</a>
    </div>
  </div>
</div>
<div class="product-stack product-stack-md">
  <div class="product-stack--illustration">
    <img src="/assets/images/product-stack.png">
  </div>
  <div class="product-stack--guides">
    <div class="product-stack--compliance-guide_md">
      <svg width="62px" height="268px" viewBox="0 0 62 268" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(31.000000, 134.500000) scale(-1, 1) translate(-31.000000, -134.500000) translate(0.000000, 1.000000)" stroke="#3498DB" stroke-width="2">
            <path d="M60.0607759,137 L60.0607759,267"></path>
            <path d="M59.0607759,202.999995 C59.0607743,203 50.5961954,202.999999 50.5961954,202.999999 C39.548021,202.999999 30.591706,194.048343 30.5917061,183.00329 L30.5917067,19.9967104 C30.5917067,8.95283222 21.6404912,3.88578059e-15 10.5921986,3.88578059e-15 L0,3.88578059e-15"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="product-stack--deployment-guide_md">
      <svg width="61px" height="148px" viewBox="0 0 61 148" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(30.500000, 74.500000) scale(-1, 1) translate(-30.500000, -74.500000) translate(0.000000, 1.000000)" stroke="#3498DB" stroke-width="2">
            <path d="M60,16.4160171 L60,146.416017" transform="translate(60.000000, 81.416017) scale(-1, 1) translate(-60.000000, -81.416017) "></path>
            <path d="M59.0607759,84.9999965 C59.0607743,85.000001 50.5961954,84.9999999 50.5961954,84.9999999 C39.548021,85.0000005 30.5917061,76.0441479 30.5917062,64.990703 L30.5917066,20.0092991 C30.5917067,8.95846892 21.6404912,1.03524945e-06 10.5921986,1.03524945e-06 L0,1.03524945e-06" transform="translate(29.530388, 42.500001) scale(-1, -1) translate(-29.530388, -42.500001) "></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="product-stack--features">
    <div class="product-stack--feature feature-compliance">
      <h2 class="feature-title">{{product_stack.compliance.title}}</h2>
      <div class="feature-body">
        {{product_stack.compliance.body }}
        <a class="btn btn-lg btn-primary" href="{{product_stack.compliance.cta.href}}">{{product_stack.compliance.cta.text}}</a>
      </div>
    </div>
    <div class="product-stack--feature feature-deployment">
      <h2 class="feature-title">{{product_stack.deployment.title}}</h2>
      <div class="feature-body">
        {{product_stack.deployment.body }}
        <a class="btn btn-lg btn-primary" href="{{product_stack.deployment.cta.href}}">{{product_stack.deployment.cta.text}}</a>
      </div>
    </div>
  </div>
</div>
