<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10 post">
    <article class="post-excerpt">
      <header>
        <h2 class="title">
          <a href="{{ post_path this }}">{{ this.data.title }}</a>
        </h2>
      </header>
      <p class="excerpt">{{ this.data.excerpt }} (<a href="{{ post_path this }}">...more</a>)</p>
      <footer>
        <ul class="post-meta">
          <li>{{ gravatar this.data.author_email 'sm' }}</li>
          <li class="author"><a href="{{ author_path this.data }}">{{ this.data.author_name }}</a></li>
          <li class="date">{{ moment this.data.posted format="DD MMMM YYYY" }}</li>
        </ul>
      </footer>
    </article>
  </div>
</div>
