<div class="price-calc" data-phi="off" data-full-service="off" data-needs-more="off">
  <div class="col-md-4 col-sm-12 price-calc__step">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{step1_title}}</h3>
      </div>
      <div class="panel-body">
        <div class="price-calc__question">
          <h3>Does your company handle PHI?</h3>
          <a class="toggle" href="#" data-name="phi" data-state="off" data-label-no="Not Yet">
            <span class="toggle__tray"><span class="toggle__dot"></span></span>
          </a>
        </div>
        <div class="price-calc__question price-calc__question--full-service">
          <h3>Would you like Aptible to provide full-service compliance?</h3>
          <a class="toggle" href="#" data-name="full-service" data-state="off">
            <span class="toggle__tray"><span class="toggle__dot"></span></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 price-calc__step price-calc__step--config">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{step2_title}}</h3>
      </div>
      <div class="panel-body">
        <div class="price-calc__containers">
          <h3 class="price-calc__config-item">
            <dfn data-toggle="tooltip" data-title="{{tooltip.containers}}">Containers:</dfn>
            <span class="price-calc__config-value price-calc__item-value--containers"></span>
            <span class="price-calc__config-price price-calc__item-price--containers"></span>
          </h3>
          <ul class="price-calc__range-keys" data-type="containers">
            <li class="price-calc__range-key">0</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">5</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">10</li>
            <li class="price-calc__range-key" data-value="&plus;">&plus;</li>
          </ul>
          <div class="price-calc__range">
            <input type="range" min="0" max="11" step="1" value="0" data-type="containers">
          </div>
          <div class="price-calc__included"></div>
        </div>
        <div class="price-calc__disk">
          <h3 class="price-calc__config-item">
            <dfn data-toggle="tooltip" data-title="{{tooltip.disk}}">Disk:</dfn>
            <span class="price-calc__config-value price-calc__item-value--disks"></span>
            <span class="price-calc__config-price price-calc__item-price--disks"></span>
          </h3>
          <ul class="price-calc__range-keys" data-type="disks">
            <li class="price-calc__range-key" data-value="0">0</li>
            <li class="price-calc__range-key" data-value="200GB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="400GB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="600GB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="800GB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="1TB">1TB</li>
            <li class="price-calc__range-key" data-value="1.2TB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="1.4TB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="1.6TB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="1.8TB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="2TB">&centerdot;</li>
            <li class="price-calc__range-key" data-value="&plus;">&plus;</li>
          </ul>
          <div class="price-calc__range">
            <input type="range" min="0" max="11" step="1" value="0" data-type="disks">
          </div>
          <div class="price-calc__included"></div>
        </div>
        <div class="price-calc__domains">
          <h3 class="price-calc__config-item">
            <dfn data-toggle="tooltip" data-title="{{tooltip.domains}}">Domains:</dfn>
            <span class="price-calc__config-value price-calc__item-value--domains"></span>
            <span class="price-calc__config-price price-calc__item-price--domains"></span>
          </h3>
          <ul class="price-calc__range-keys" data-type="domains">
            <li class="price-calc__range-key">0</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">5</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">&centerdot;</li>
            <li class="price-calc__range-key">10</li>
            <li class="price-calc__range-key" data-value="&plus;">&plus;</li>
          </ul>
          <div class="price-calc__range">
            <input type="range" min="0" max="11" step="1" value="0" data-type="domains">
          </div>
          <div class="price-calc__included"></div>
        </div>
        <div class="price-calc__more">
          <h3>{{needs_more.title}}</h3>
          <p>{{needs_more.body}}</p>
          <a class="btn btn-primary btn-lg" href="{{needs_more.cta_url}}">{{needs_more.cta}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 price-calc__step price-calc__step--summary">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{step3_title}}</h3>
      </div>
      <div class="panel-body">
        <div class="price-calc__summaries">
          <div class="price-calc__summary price-calc__summary--dev">
  					<h3 class="price-calc__summary__heading">{{plans.dev.name}} Account</h3>
  					<ul class="price-calc__summary-list">
              {{#each plans.dev.descriptors}}
					      <li>{{.}}</li>
              {{/each}}
            </ul>
            <h4 class="price-calc__summary-list__title">Includes</h4>
  					<ul class="price-calc__summary-list">
              {{#each plans.dev.included}}
  				      <li>{{.}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="price-calc__summary price-calc__summary--platform">
  					<h3 class="price-calc__summary__heading">{{plans.platform.name}} Account</h3>
            <ul class="price-calc__summary-list">
              {{#each plans.platform.descriptors}}
  				      <li>{{.}}</li>
              {{/each}}
            </ul>
            <h4 class="price-calc__summary-list__title">Includes</h4>
  					<ul class="price-calc__summary-list">
              {{#each plans.platform.included}}
  				      <li>{{.}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="price-calc__summary price-calc__summary--managed">
  					<h3 class="price-calc__summary__heading">{{plans.managed.name}} Account</h3>
            {{#each plans.managed.descriptors}}
              <p>{{.}}</p>
            {{/each}}
  				</div>
        </div>
				<div class="price-calc__monthly-breakdown">
					<table class="price-calc__data-summary price-calc__monthly-breakdown-items">
            <thead class="price-table__header">
              <tr>
                <th colspan="2" class="price-table__header__cell caps">Price Breakdown</th>
                <th class="price-table__header__cell">Monthly Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Base Plan:</td>
                <td class="price-calc__item-value">
                  <span class="price-calc__dev-account">{{plans.dev.name}}</span>
                  <span class="price-calc__platform-account">{{plans.platform.name}}</span>
                  <span class="price-calc__managed-account">{{plans.managed.name}}</span>
                </td>
                <td class="price-calc__item-price price-calc__plan-price"></td>
              </tr>
              <tr>
                <td>Containers:</td>
                <td class="price-calc__item-value price-calc__item-value--containers"></td>
                <td class="price-calc__item-price price-calc__item-price--containers"></td>
              </tr>
              <tr>
                <td>Disk Size:</td>
                <td class="price-calc__item-value price-calc__item-value--disks"></td>
                <td class="price-calc__item-price price-calc__item-price--disks"></td>
              </tr>
              <tr>
                <td>Domains:</td>
                <td class="price-calc__item-value price-calc__item-value--domains"></td>
                <td class="price-calc__item-price price-calc__item-price--domains"></td>
              </tr>
            </tbody>
          </table>
					<table class="price-calc__data-summary price-calc__monthly-summary">
            <thead><tr><th class="caps">Total</th></tr></thead>
            <tbody><tr><td class="price-calc__monthly-total"></td></tr></tbody>
          </table>
				</div>
        <a class="price-calc__submit btn btn-primary btn-lg" href="https://dashboard.aptible.com/signup?plan=development">Get Started Now</a>
      </div>
    </div>
  </div>
</div>
