---
title: "About Us"
description: "Aptible's about page"
posted: 2014-06-30
section: Company
mission: We believe in the revolutionary power of software to change the world. We also see innovation increasingly coming to regulated industries. Our job is to make it easy for our society's best and brightest technologists to work with the most meaningful, high-impact data.
employees:
  chas:
    name: Chas Ballew
    title: Co-founder, CEO
    email: chas@aptible.com
    bio: "Chas graduated from Princeton in 2006 with a degree in psychology. After earning a law degree from the University of Michigan, he served on active duty in the Army from 2009-2013, practicing law in the Office of the Army General Counsel in Washington, D.C. Prior to that he was a summer associate at WSGR in Palo Alto and clerked with the Office of the Federal Public Defender in Eugene. You can find him on [GitHub](http://github.com/chasballew), [@chasballew](http://twitter.com/chasballew), and at [chas@aptible.com](mailto:chas@aptible.com)."
  frank:
    name: Frank Macreery
    title: Co-founder, CTO
    email: frank@aptible.com
    bio: "Frank earned a degree in computer science in 2006 from Princeton, where he was a multiple-time NCAA All-American runner. After running semi-professionally in Eugene, Oregon, he moved back to New York to work as a developer. Before Aptible, he previously led engineering teams at Give Real, XGraph (acquired by Clearspring/AddThis), and Artsy. You can find him on [GitHub](http://github.com/fancyremarker), [@fancyremarker](http://twitter.com/fancyremarker), and at [frank@aptible.com](mailto:frank@aptible.com)."
  skylar:
    name: Skylar Anderson
    title: User Interface
    email: skylar@aptible.com
    bio: "Prior to Aptible, Skylar spent 4 years as a freelance consultant, designing and building software for companies like Eli Lilly, Facebook, and ExactTarget."
  drake:
    name: Drake Ballew
    title: Business Development
    email: drake@aptible.com
    bio: "Drake earned a bachelor's degree in history from Grinnell College in 2009. Since 2010, he has been a teacher and administrator at a startup language training center in Nanjing, China. "
---

<div class="fancy-cover">
  <div class="container">
    <div class="row section">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="intro-block">
          <h1 class="intro-title">Our Mission</h1>
          <h2 class="intro-heading">Our goal is to make it easy for great developers to work in healthcare.</h2>
          <div class="intro-body">{{mission}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="intro-block">
          <h1 class="intro-title">The Aptible Team</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="employees">
        {{#each employees}}
          <div class="col-sm-3">
            <div class="employee panel panel-default {{slugify name}}">
              <div class="panel-body">
                <div class="image-wrapper">
                  <div class="image">
                    {{ gravatar email 'xxl' }}
                  </div>
                </div>
                <div class="title-wrapper">
                  <h5 class="name">{{name}}</h5>
                  <h6 class="title">{{title}}</h6>
                </div>
                <div class="bio">{{#markdown}}{{bio}}{{/markdown}}</div>
                <div class="blanket"></div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default were-hiring-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h1 class="panel-title">Aptible is Hiring</h1>
              <h5 class="panel-sub">Help build the future of privacy and security on the web.</h2>
              <div class="panel-cta">
                <a href="careers.html" class="btn btn-primary btn-lg">
                  Careers at Aptible
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>