---
title: Aptible Careers
description: Aptible careers page
posted: 2014-06-30
section: Company
mission: We are transforming the experience of building private, secure software systems in regulated industries. We are starting with healthcare because the American healthcare system is broken and we want to empower those who can fix it. If you want to make a meaningful difference, join our team.
slides:
  rock:
    title: Aptible's San Francisco Office
    caption: Aptible's San Francisco office inside Rock Health
    url: /pages/assets/rockhealth.jpg

perks:
  pto:
    name: Paid Time Off
    description: You get 21 vacation days, 11 company holidays and sick days when you need them.
  health:
    name: Health
    description: We pay 100% of your medical, dental and vision insurance premiums, and around 80% if you have dependents.
  parenting:
    name: Family & Parenting
    description: We offer paid parental leave, help with daycare and adoption fees and $4,000 “baby cash” for your new arrival.
  food:
    name: Food
    description: We keep you full with free meals, plus kitchens stocked with unlimited snacks.
  fitness:
    name: Fitness
    description: We help pay for your monthly gym membership.
  laundry:
    name: Laundry
    description: We reimburse up to $80 a month for laundry and dry cleaning bills.

---

<div class="fancy-cover">
  <div class="container">
    <div class="row section working-at-aptible-section">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="intro-block">
          <h1 class="intro-title">Working at Aptible</h1>
          <h2 class="intro-heading">Help build the future of privacy and security on the web.</h2>
          <div class="intro-body">{{mission}}</div>
        </div>
      </div>
    </div>
    
    <div class="row section careers-carousel-section">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

        <div class="carousel">
          {{#each slides}}
            <div class="carousel-item">
              <div class="item-shade"></div>
              <img src="{{url}}" alt="{{name}}">
              <div class="carousel-caption">
                <h3>{{title}}</h3>
                <p>{{caption}}</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row aptible-perks">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h2 class="section-title">Aptible Perks</h2>
      <div class="row aptible-perks">
        {{#each perks}}
          <div class="col-sm-4 fact-item">
            <h4>{{name}}</h5>
            <div class="description">
              {{#markdown}}{{description}}{{/markdown}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>