---
title: "Press"
description: "Aptible's press page"
posted: 2014-06-30
section: Company
press:
  tc:
    name: TechCrunch
    url: http://techcrunch.com/aptible-is-amaze
    logo: /pages/assets/press/techcrunch_logo.jpg
    logo_width: 75px
    posted: 2014-06-30
    quote: '"Vestibulum pretium placerat mollis. Donec ultricies odio enim, et vehicula purus blandit vitae. Proin eleifend blandit cursus."'

---

<div class="container">
  <div class="row section">
    {{!-- <div class="col-sm-12">
      <h2 class="section-title">Aptible in the Press</h2>
    </div>

    <div class="row press-quotes">
      {{#each press}}
        <div class="col-sm-4">
          <div class="press-quote">
            <div class="post-date">{{moment posted format="DD MMMM YYYY"}}</div>
            <div class="quote">{{quote}}</div>
            <div class="press-logo">
              <img src="{{logo}}" alt="{{name}}" {{#if logo_width }} style="width:{{logo_width}};"{{/if}}/>
            </div>
          </div>
        </div>
      {{/each}}
    </div> --}}
    <div class="col-sm-12">
      <h2 class="section-title">Media Kit</h2>
    </div>
  </div>
</div>