---
layout: blog_posts.haml
title: Aptible Blog
description: Posts detailing feature updates, compliance resources, and
             information useful to users of Aptible's security and DevOps tools.
---
- content_for :header do
  %header.aptible-header.hero-gradient--angled
    = partial 'partials/main-nav', locals: {   |
        section_title: 'Blog',                 |
        section_url: '/blog'                   |
      }                                        |

    .grid-container
      .blog-post__heading
        .blog-posts__post
          %a.blog-posts__link{ href: latest_blog_post.url }
            - latest = latest_blog_post.data
            %h2.heading__subtitle= "#{latest.author_name} - #{post_date(latest.posted)}"
            %h1.heading__title= latest.title
            .heading__summary= latest.excerpt

- posts = blog_posts_by_date
- posts[1..posts.length].each do |post|
  .blog-posts__post
    %a.blog-posts__link{ href: post.url }
      = partial 'partials/blog-list-item', locals: { post: post }
