---
title: Resources
layout: 'layout'
---
- content_for :header do
  - if featured_resource
    = partial 'partials/headers/featured_resource'
  - else
    %header.aptible-header.hero-gradient--angled
      = partial 'partials/main-nav'

.content
  .grid-container
    %header.blog-header
      %h1.blog-header__title
        %a{ href: '/resources/' } Resources
      = partial 'follow-aptible-twitter-link'
    .grid-document
      .resources-list
        .resources-list__column
          - resources_for_index.each_with_index do |resource, index|
            - if index.odd?
              = partial 'resource-item',  locals: { resource: resource }

          -# One-off for AWS vs Aptible
          %a.resource-item{ href: '/aws-vs-aptible/' }
            .resource-item__body
              %h2.resource-item__title AWS vs Aptible: DevOps for HIPAA Compliance and ISO 27001 Security Management
              .resource-item__excerpt
                Enjoy the scalability and security of the AWS cloud without needing
                an entire DevOps team to manage it.

        .resources-list__column
          - resources_for_index.each_with_index do |resource, index|
            - if index.even?
              = partial 'resource-item',  locals: { resource: resource }

    .grid-aside
      = partial 'resources-aside'
