---
title: Plans and Pricing
tracked_title: Pricing
id: pricing
description: "Aptible's pricing page"
posted: 2015-03-19
production_title: Aptible Production Account
production_subtitle: "Start deploying HIPAA-compliant apps in minutes with our ****high-assurance deployment platform**** and integrated ****HIPAA compliance tools**** \n\nStarting at $3499/month with an annual contract"
development_plan_cost: $0.08/Hour

hero_title: Try Aptible now with a free Development Account
hero_sub_title: Building modern web architecture? Familiar with the PaaS model or Heroku? Excited to use containers?
hero_cta: Open a free Development Account
hero_url: https://dashboard.aptible.com/signup?plan=development

plans_title: Choose a Plan
plans:
  - plan: Development
    tag: Build and Test
    price: '$0'
    price_sub: '/month to open'
    items:
      - No PHI allowed
      - Ideal for staging/QA/sandboxes
      - "No commitment: Pay as you go"
      - Email support
      - "Slack #public channel access"
    cta: $ aptible signup --plan development
    cta_url: https://dashboard.aptible.com/signup?plan=development
  - plan: Platform
    tag: PHI-Ready
    price: '$499'
    price_sub: '/month'
    items:
      - "HIPAA-compliant: PHI-ready"
      - item: 'Includes:'
        subs:
          - Dev Account
          - 6 x 1GB Containers
          - "1TB Disk, Encryption & Backups Included"
          - 4 Domains
      - 3-month no-risk trial
      - Month-to-month available
      - 99.95% SLA
      - Signed BAA
      - Priority support
    cta: $ aptible signup --plan platform
    cta_url: https://dashboard.aptible.com/signup?plan=platform
  - plan: Production
    tag: Premium Services
    price: '$ Custom'
    items:
      - Full-service compliance
      - item: 'Includes:'
        subs:
          - Platform Account
          - Compliance Platform access
          - Comprehensive risk & security management
          - Industy-leading developer privacy & security compliance training
      - Custom BAA, SLA available
      - Premium support
      - Security review support
      - Dedicated POC in your Slack channel
    cta: Have us call you
    cta_url: https://www.aptible.com/company/contact

pricing:
  container: $0.08/hour
  disk: $0.37/GB/month
  domain: $0.05/hour

unique_situation:
  title: Need something special?
  sub_title: Our experts can help you architect and operate a HIPAA-complaint solution.
  cta: Get a Free HIPAA Architecture Constultation
  cta_url: /company/contact

quick_start:
  - name: Ruby
    url: https://support.aptible.com/quickstart/ruby/rails/
    icon: /pages/assets/icons/ruby.svg
    slug: ruby
  - name: Go
    url: https://support.aptible.com/quickstart/go/gorilla/
    icon: /pages/assets/icons/go.svg
    slug: go
  - name: Node
    url: https://support.aptible.com/quickstart/node/express/
    icon: /pages/assets/icons/node.svg
    slug: node
  - name: Java
    url: https://support.aptible.com/quickstart/java/jersey/
    icon: /pages/assets/icons/java.svg
    slug: java
  - name: Scala
    url: https://support.aptible.com/quickstart/scala/play/
    icon: /pages/assets/icons/scala.svg
    slug: scala
  - name: PHP
    url: https://support.aptible.com/quickstart/php/laravel/
    icon: /pages/assets/icons/php.svg
    slug: php
  - name: Python
    url: https://support.aptible.com/quickstart/python/django/
    icon: /pages/assets/icons/python.svg
    slug: python

questions_title: Questions? We have answers.
questions:
    - inquiry: What does Aptible do?
      response: |
        We help our customers with everything they need to build a modern HIPAA compliant web application. We not only handle the application core but also the compliance and administration. Additionally, we help our customers integrate with a wide variety of technical partners in HIPAA compliant ways.  
    - inquiry: Does my company need to be HIPAA compliant?
      response: |
        It’s possible! It’s not always easy to know whether or not you need to be HIPAA compliant, but if you answer “yes” to any of the below questions, then we should definitely talk:

        * Do you handle personally identifiable health information?
        * Do you need BAAs?  
        * Do you partner with or sell to hospitals or insurance companies?   

        Did you answer yes to any of these?  [Get in touch](/company/contact).
    - inquiry: How does Aptible’s technology work? What’s a container?
      response: >
        Aptible runs on AWS. We use Docker to build and run our customers’ applications and manage all DevOps while our customers have the power to manage their own code. These containers act as a lightweight virtual machine that can be used to run an instance of an application or a database. Our PHI-ready accounts each receive a virtual private cloud with secure software and servers that manage compliance. You can check out our [technology architecture here](/pages/assets/aptible-reference-architecture.pdf) and read more about [our technology here](/technology).
    - inquiry: What do I need to move from a Dev Account to a Platform or Production Account?
      response: |
        Easy!  You’ll need to sign 3 documents: Business Associate Agreement (BAA), mNDA, and Billing agreement.  It takes 15 seconds to execute these agreements, and we can have you back up and running in a few hours.  When you are ready to make the transition, [let us know](/company/contact).
    - inquiry: What else might I need to become HIPAA Compliant?
      response: |
        Depending on your specific business, you may need:

        * Independent 3rd party for Security Assessment
        * Logging and Analytics Providers who handle PHI 
        * Telephony, Email, Object storage 


        We can help with all of these!
---

<div class="container">
  <div class="row section bordered callout-section">
    <div class="col-md-10 col-md-offset-1 col-sm-12 our-philosophy">
      <h2 class="callout-title">{{hero_title}}</h2>
      <div class="callout-body">{{hero_sub_title}}</div>
      <div class="callout-cta">
        <a href="{{hero_url}}" class="btn btn-lg btn-primary">{{hero_cta}}</a>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col-xs-12">
      <h2 class="section-title">{{plans_title}}</h2>
      <div class="plans">
        <div class="row">
          {{#each plans}}
            <div class="col-md-4 col-xs-12 col-sm-6">
              <div class="panel panel-default plan-panel {{plan}}">
                <div class="plan-title">{{plan}}</div>
                <div class="plan-header">
                  <h3 class="plan-plan">{{tag}}</h3>
                    <h2 class="plan-price">{{price}}<span class="sub">{{price_sub}}</span></h2>
                </div>
                <div class="panel-body">
                  <ul class="plan-attributes">
                    {{#each items}}
                      {{#if subs}}
                        <li>
                          {{item}}
                          <ul class="plan-sub-attributes">
                            {{#each subs}}
                              <li><i class="fa fa-check"></i>{{.}}</li>
                            {{/each}}
                          </ul>
                        </li>
                      {{else}}
                        <li>{{.}}</li>
                      {{/if}}

                    {{/each}}
                  </ul>
                  <div class="plan-cta">
                    <a href="{{cta_url}}" class="btn btn-lg btn-primary btn-block">
                    {{cta}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <h2 id="unit-pricing" class="section-title">Unit Pricing</h2>
        <div class="panel-body">
          <ul class="plan-attributes">
            <li><span>Containers:</span> {{pricing.container}}</li>
            <li><span>Disk:</span> {{pricing.disk}}</li>
            <li><span>Domains:</span> {{pricing.domain}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default were-hiring-panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="panel-title">{{unique_situation.title}}</h1>
          <h5 class="panel-sub">{{unique_situation.sub_title}}</h5>
          <div class="panel-cta">
            <a href="{{unique_situation.cta_url}}" class="btn btn-primary btn-lg">
              {{unique_situation.cta}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row section bordered">
    <div class="col-xs-12">
      <div class="quick-starts categories">
      <h2 class="section-title">Quickstart Guides:</h2>
        {{#each quick_start}}
          <div class="col-xs-12 col-sm-4 col-md-3">
            <a class="category-box {{slug}}" href="{{url}}">
              <div class="category-icon">
                <img src="{{icon}}" alt="{{name}}" />
              </div>
              <div class="category-footer">
                <div class="category-title">{{name}}</div>
              </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row section pricing-faq">
    <div class="col-sm-12">
      <div class="row q-a">
        <h2 class="section-title">{{questions_title}}</h2>
        {{#each questions}}
          <div class="col-md-4 col-sm-2">
            <div class="fact-item">
              <h4>{{inquiry}}</h4>
              <div class="description">{{#markdown}}{{response}}{{/markdown}}</div>
            </div>
          </div>
          <div class="conditional-clear"></div>
        {{/each}}
      </div>
      <h2 class="section-title">More questions? <a href="/company/contact">Contact us</a></h2>
    </div>
  </div>
</div>
