---
title: Plans and Pricing
tracked_title: Pricing
id: pricing
description: "Aptible plans and pricing"
posted: 2015-12-10
production_title: Aptible Production Account

plans_title: Explore Plans and Pricing

step1_title: About You
step2_title: Configuration
step3_title: Summary

plans:
  dev:
    name: Development
    descriptors:
    - No PHI allowed
    - "No base fee: Pay only for usage"
    included:
    - $500 trial credit
  platform:
    name: Platform
    descriptors:
    - Dedicated, PHI-ready stack
    - Comes with Business Associate Agreement, Breach Indemnification, and SLA
    - $999/month base fee for 3 months, cancel any time
    - $999/month thereafter w/ annual contract, or $1299 monthly
    included:
    - 6 containers
    - 1TB disk
    - 4 endpoints
  managed:
    name: Managed
    descriptors:
    - "With a Managed Account, Aptible helps you set up and run a comprehensive HIPAA Business Associate compliance program, including risk assessments, policies and procedures, workforce training, incident response, BAA management, and application security management."
    - "As a Managed Account partner, our engineering and compliance teams will work with you directly to help you quickly pass security reviews and audits at the largest healthcare institutions in the country."

tooltip:
  containers: Docker containers, 1 GB RAM by default. Easily scale container count and RAM footprint. To start, plan for 1 container per app process, plus 1 per database.
  disk: "Encrypted database storage. Includes backups: daily for 90 days, monthly for 6 years."
  endpoints: Expose apps and databases to the Internet, or internally as private services.

needs_more:
  title: Scale much?
  body: All Aptible services scale on demand at the unit price rates below. High volume plans and custom container RAM sizes are available.
  cta: Contact Us
  cta_url: http://contact.aptible.com

discount:
  title: Advertise your HIPAA compliance.
  body: |
    Add a [Powered by Aptible](/company/resources/#hipaa-badges-section)
     badge on your site footer and get a __$100/month discount__.

    Just
    [drop us a line](http://contact.aptible.com) to let us know you
    are participating.

pricing:
  container: $0.08/GB/hour
  disk: $0.37/GB/month
  endpoint: $0.05/hour

support_plans:
  title: Support Plans
  cta: Learn More

unique_situation:
  title: Need something special?
  sub_title: Custom container RAM sizes, optimized EC2 instance types, and high volume plans are available.
  cta: Request a Quote
  cta_url: http://contact.aptible.com

intro_credit: $500

pricing_cta: Get Started Now

quick_start:
  - name: Ruby
    url: https://support.aptible.com/quickstart/ruby/rails/
    icon: /pages/assets/icons/ruby.svg
    slug: ruby
  - name: Go
    url: https://support.aptible.com/quickstart/go/gorilla/
    icon: /pages/assets/icons/go.svg
    slug: go
  - name: Node
    url: https://support.aptible.com/quickstart/node/express/
    icon: /pages/assets/icons/node.svg
    slug: node
  - name: Java
    url: https://support.aptible.com/quickstart/java/jersey/
    icon: /pages/assets/icons/java.svg
    slug: java
  - name: Scala
    url: https://support.aptible.com/quickstart/scala/play/
    icon: /pages/assets/icons/scala.svg
    slug: scala
  - name: PHP
    url: https://support.aptible.com/quickstart/php/laravel/
    icon: /pages/assets/icons/php.svg
    slug: php
  - name: Python
    url: https://support.aptible.com/quickstart/python/django/
    icon: /pages/assets/icons/python.svg
    slug: python

---

<div class="container">
  <div class="row section bordered">
    <h2 class="section-title">{{plans_title}}</h2>
    {{> pricing_calculator}}
  </div>

  <div class="row section bordered">
    <div id="unit-pricing" class="col-xs-12 unit-pricing">
      <h2 class="section-title">Unit Pricing</h2>
      <ul class="plan-attributes">
        <li>All plans are scalable on demand, just pay for what you use:</li>
        <li><strong>App/Database Containers:</strong> {{pricing.container}}</li>
        <li><strong>Encrypted Disk:</strong> {{pricing.disk}}</li>
        <li><strong>Endpoints:</strong> {{pricing.endpoint}}</li>
      </ul>
    </div>
  </div>

  <div class="row section bordered">
    <div class="col-xs-12 text-hero">
      <h2 class="section-title">{{support_plans.title}}</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4 support-plan-summary">
          <h4>Business</h4>
          <ul>
            <li>Normal severity response times in 12 hours or less</li>
            <li>Email and portal channels</li>
            <li>Included with every account</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4 support-plan-summary">
          <h4>Premium</h4>
          <ul>
            <li>Dedicated slack channel</li>
            <li>Urgent severity response times in 1 hour or less</li>
            <li>Administrative portal access to manage tickets</li>
            <li>Email, portal, and slack channels</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4 support-plan-summary">
          <h4>Enterprise</h4>
          <ul>
            <li>Dedicated Support Engineer</li>
            <li>Dedicated Technical Account Manager</li>
            <li>Critical issue response times in 15 minutes or less</li>
            <li>Included base VPN and architecture support</li>
            <li>Email, portal, slack, and phone channels</li>
          </ul>
        </div>
      </div>
      <a href="/support" class="btn btn-primary btn-lg">{{support_plans.cta}}</a>
    </div>
  </div>

  <div class="row section">
    <div class="col-xs-12 unit-pricing">
      <h2 class="section-title">{{discount.title}}</h2>
      <div class="intro-body text-center">
        {{#markdown}}{{discount.body}}{{/markdown}}
      </div>
    </div>
  </div>

  <div class="panel panel-default were-hiring-panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="panel-title">{{unique_situation.title}}</h1>
          <h5 class="panel-sub">{{unique_situation.sub_title}}</h5>
          <div class="panel-cta">
            <a href="{{unique_situation.cta_url}}" class="btn btn-primary btn-lg">
              {{unique_situation.cta}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row section bordered">
    <div class="col-xs-12">
      <div class="quick-starts categories">
      <h2 class="section-title">Quickstart Guides</h2>
        {{#each quick_start}}
          <div class="col-xs-12 col-sm-4 col-md-3">
            <a class="category-box {{slug}}" href="{{url}}">
              <div class="category-icon">
                <img src="{{icon}}" alt="{{name}}" />
              </div>
              <div class="category-footer">
                <div class="category-title">{{name}}</div>
              </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
