---
title: Plans and Pricing
id: pricing
description: "Aptible's pricing page"
posted: 2014-06-30
production_title: Aptible Production Account
production_subtitle: "Start deploying HIPAA-compliant apps in minutes with our ****high-assurance deployment platform**** and integrated ****HIPAA compliance tools**** \n\nStarting at $3499/month with an annual contract"
development_plan_cost: $0.06/Hour

additional_costs:
  containers:
    price: $0.10/Hour
    name: Additional App/Database Containers
  storage:
    price: $0.40/GB/Month
    name: Additional Storage, Encrypted Backups Included

benefits:
  ops:
    title: "High-Assurance Deployment Platform"
    image: /pages/assets/technology/aptible-technology-introduction.png
    features:
      included: 10 App/Database Containers Included
      alsoincluded: 1TB Storage, with Free Encrypted Backups
      security: Powerful Security and Audit Controls
      deploys: One-Click Deploys and Scaling
      ci: Easy CI Integration
      support: 24/7 Technical and Compliance Support

  compliance:
    title: "Integrated HIPAA Compliance Tools"
    image: /pages/assets/compliance/aptible-compliance-introduction.png
    features:
      risk: HIPAA Risk Analysis Engine
      policy: HIPAA Security + Privacy Policy Engine
      training: HIPAA Workforce Training
      incident: Incident Response Management Engine
      audits: Real-Time Auditing and Documentation
      baa: Signed Business Associate Agreement

questions_title: Questions? We have answers.
questions:
  containers:
    inquiry: What is a container?
    response: A container is like a lightweight virtual machine that can be used to run an instance of an application or a database. Read more about [our technology](/technology).
  container_count:
    inquiry: How many containers will I need?
    response: One for each instance of an application or database you want to run. Most customers begin with 2 or 3 and add more as they scale.
  accounts:
    inquiry: What is the difference between account types?
    response: Only Production Accounts have the security and legal features required to support HIPAA compliance.
  account_count:
    inquiry: Can we have both a Production and Development Account?
    response: Yes, most organizations have both. Development Accounts are great for staging environments and non-regulated applications.
  compliance:
    inquiry: How many of the HIPAA requirements does Aptible help with?
    response: Most of our customers use Aptible to manage their entire HIPAA compliance process at a fraction of the time and cost of traditional methods.
  costs:
    inquiry: Is Aptible expensive?
    response: Aptible is the fastest, most cost-effective way for a SaaS company to stand up and maintain an entire HIPAA compliance program.
  just_platform:
    inquiry: Can I just use the platform? Can I use Aptible for non-healthcare apps?
    response: Our platform can support a variety of high-assurance, high-security projects across industries. [Contact us](/company/contact) to discuss your needs.
  more_support:
    inquiry: Where can I find more answers?
    response: We'd love to talk to you! Feel free to [contact us](/support) any time, or visit our [knowledge base](http://support.aptible.com).
---

<div class="fancy-cover">
  <div class="container">

    <div class="row">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">

          <div class="panel panel-default">
            <div class="panel-body panel-body-slim">
              <h1 class="panel-title">{{production_title}}</h1>
              <h5 class="panel-sub">{{#markdown}}{{production_subtitle}}{{/markdown}}</h2>
              <div class="plan-benefits">

                <div class="row">
                  {{#each benefits}}
                    <div class="col-sm-6">
                      <div class="plan-benefit">
                        <div class="benefit-icon">
                          <img src="{{image}}" alt="{{title}}" />
                        </div>

                        <h3 class="benefit-title">{{title}}</h3>
                        <ul class="features-list">
                          {{#each features}}
                            <li>{{fa 'check'}}<div class="feature-body">{{.}}</div></li>
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  {{/each}}
                </div>

              </div>
              <div class="plan-footer">
                <a class="btn btn-lg btn-primary" href="{{config.production_signup_url}}">Open a Production Account</a>
                <ul class="additional-costs">
                  {{#each additional_costs}}
                    <li class="additional_cost">{{price}} {{name}}</li>
                  {{/each }}
                </ul>
              </div>
            </div>
          </div>

          <div class="development-plan-callout">
            <h4>Don't need a Production Account yet?</h4>
            <div class="callout-body">
              <a href="{{config.development_signup_url}}"> Start with</a> an Aptible Development Account from $0.06/hour.
              <br />No minimums, credit card required.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row section">
    <div class="col-sm-12">
      <div class="row">
        <h2 class="section-title">{{questions_title}}</h2>
        {{#each questions}}
          <div class="col-md-3 col-sm-4">
            <div class="fact-item">
              <h4>{{inquiry}}</h4>
              <div class="description">{{#markdown}}{{response}}{{/markdown}}</div>
            </div>
          </div>
        {{/each}}
      </div>
      <h2 class="section-title">More questions? <a href="/company/contact">Contact us</a> or email <a href="mailto:{{config.sales_email}}">{{config.sales_email}}</a></h2>
    </div>
  </div>
</div>
