---
title: Plans and Pricing
tracked_title: Pricing
id: pricing
description: "Aptible plans and pricing"
posted: 2015-03-19
production_title: Aptible Production Account

hero_title: Try Aptible now with a Development Account
hero_sub_title: No contracts, no risk.
hero_cta: Open a Development Account
hero_url: https://dashboard.aptible.com/signup?plan=development

plans_title: Explore Plans and Pricing

step1_title: About You
step2_title: Configuration
step3_title: Summary

plans:
  dev:
    name: Development
    descriptors:
    - No PHI allowed
    - "No base fee: Pay only for usage"
    included:
    - $500 trial credit
  platform:
    name: Platform
    descriptors:
    - Dedicated, PHI-ready stack
    - Comes with Business Associate Agreement, Breach Indemnification, and SLA
    included:
    - 6 containers
    - 1TB disk
    - 4 domains
  managed:
    name: Managed
    descriptors:
    - Full-service compliance and documentation
    - Industry leading Workforce HIPAA training
    - Custom BAA, SLA
    - Audit support

tooltip:
  containers: 1 GB RAM Docker containers. Instantly scalable. Estimate 1 container per Linux process. Custom container sizes available.
  disk: "Encrypted database storage. Includes backups: daily for 90 days, monthly for 6 years."
  domains: SSL endpoint. Attaches to your container service. May be used for internal services.

needs_more:
  title: Scale much?
  body: All Aptible services scale on demand at the unit price rates below. High volume plans and custom container RAM sizes are available. 
  cta: Contact Us
  cta_url: /company/contact

pricing:
  container: $0.08/hour
  disk: $0.37/GB/month
  domain: $0.05/hour

unique_situation:
  title: Need something special?
  sub_title: Custom container RAM sizes, optimized EC2 instance types, and high volume plans are available.
  cta: Contact an Aptible Expert
  cta_url: /company/contact

quick_start:
  - name: Ruby
    url: https://support.aptible.com/quickstart/ruby/rails/
    icon: /pages/assets/icons/ruby.svg
    slug: ruby
  - name: Go
    url: https://support.aptible.com/quickstart/go/gorilla/
    icon: /pages/assets/icons/go.svg
    slug: go
  - name: Node
    url: https://support.aptible.com/quickstart/node/express/
    icon: /pages/assets/icons/node.svg
    slug: node
  - name: Java
    url: https://support.aptible.com/quickstart/java/jersey/
    icon: /pages/assets/icons/java.svg
    slug: java
  - name: Scala
    url: https://support.aptible.com/quickstart/scala/play/
    icon: /pages/assets/icons/scala.svg
    slug: scala
  - name: PHP
    url: https://support.aptible.com/quickstart/php/laravel/
    icon: /pages/assets/icons/php.svg
    slug: php
  - name: Python
    url: https://support.aptible.com/quickstart/python/django/
    icon: /pages/assets/icons/python.svg
    slug: python

questions_title: Questions? We have answers.
questions:
    - inquiry: What’s the difference between Platform and Managed accounts?
      response: |
        A Platform account is designed for companies who have HIPAA compliance in-house or are handling PHI only for testing and development. The entire technology infrastructure needed to handle PHI is encompassed in a Platform account. A Managed account, on the other hand, includes a platform account plus full-service compliance. The workforce training, documentation, reporting, and audit support for HIPAA compliance--pricing is variable based on the unique needs of your app and team.
    - inquiry: What is the 1 TB Disk space used for?
      response: |
        The 1 TB of disk is shared across all of the containers and is used by both databases and file storage.
    - inquiry: What’s a 1 GB container?  Can I get more?
      response: |
        The 1GB refers to the RAM per container.  Both the platform and managed accounts include six containers.  Typically customers use different containers for applications, databases, etc.  With the Docker deployment model, you can scale any application across multiple containers very easily.  At the Managed tier, we customize the specifications of your containers but most customers don’t need this.
    - inquiry: How much load can I handle per container?
      response: |
        This depends on the language and web framework of your specific application. Typically, there is a direct correlation between RAM and concurrency. Having more RAM means that you can have more workers running concurrently. For instance, one container holds 1 GB RAM and a share of an AWS m3.medium (Intel Xeon E5-2670 v2).

        We are happy to work with you to customize your container. Platform and Managed stacks are isolated per-customer, so you enjoy full resources of the instance dedicated to your apps.


    - inquiry: When using one of the PHI-ready environments, should I have my Dev, Staging and Pro tiers all hosted in a PHI-ready environment or in a Dev environment?
      response: |
        Using a Dev environment has the benefit of server isolation between staging and production. So if an instance crashes, your other environments are unaffected. If that's not an issue, the PHI-ready environments are dedicated to just you, so performance can be better - especially during long builds. We have customers doing both, so it's really your preference.
---

<div class="container">
  <div class="row section bordered callout-section">
    <div class="col-md-10 col-md-offset-1 col-sm-12 our-philosophy">
      <h2 class="callout-title">{{hero_title}}</h2>
      <div class="callout-body">{{hero_sub_title}}</div>
      <div class="callout-cta">
        <a href="{{hero_url}}" class="btn btn-lg btn-primary">{{hero_cta}}</a>
      </div>
    </div>
  </div>

  <div class="row section">
    <h2 class="section-title">{{plans_title}}</h2>
    {{> pricing_calculator}}
    <div class="row">
      <div class="col-xs-12 unit-pricing">
        <h2 class="section-title">Unit Pricing</h2>
        <ul class="plan-attributes">
          <li><strong>1 GB App/Database Containers:</strong> {{pricing.container}}</li>
          <li><strong>Encrypted Disk:</strong> {{pricing.disk}}</li>
          <li><strong>Domains:</strong> {{pricing.domain}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default were-hiring-panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="panel-title">{{unique_situation.title}}</h1>
          <h5 class="panel-sub">{{unique_situation.sub_title}}</h5>
          <div class="panel-cta">
            <a href="{{unique_situation.cta_url}}" class="btn btn-primary btn-lg">
              {{unique_situation.cta}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row section bordered">
    <div class="col-xs-12">
      <div class="quick-starts categories">
      <h2 class="section-title">Quickstart Guides</h2>
        {{#each quick_start}}
          <div class="col-xs-12 col-sm-4 col-md-3">
            <a class="category-box {{slug}}" href="{{url}}">
              <div class="category-icon">
                <img src="{{icon}}" alt="{{name}}" />
              </div>
              <div class="category-footer">
                <div class="category-title">{{name}}</div>
              </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row section pricing-faq">
    <div class="col-sm-12">
      <div class="row q-a">
        <h2 class="section-title">{{questions_title}}</h2>
        {{#each questions}}
          <div class="col-md-4 col-sm-2">
            <div class="fact-item">
              <h4>{{inquiry}}</h4>
              <div class="description">{{#markdown}}{{response}}{{/markdown}}</div>
            </div>
          </div>
          <div class="conditional-clear"></div>
        {{/each}}
      </div>
      <h2 class="section-title">More questions? <a href="/company/contact">Contact us</a></h2>
    </div>
  </div>
</div>
