---
title: HIPAA Compliant Hosting with Aptible Enclave®
---

- content_for :header do
  %header.aptible-header.enclave-hids-hero
    = partial 'partials/main-nav'

    .grid-container.grid--single-center
      .grid-item.text-center
        .enclave-hero__copy
          %h2.subtitle--caps.blue Enclave Features
          %h1.title.white
            HIPAA Compliant Hosting
          %p.subtitle.light-blue-gray
            Aptible Enclave® is a HIPAA compliant hosting platform that protects
            your customers’ PHI with industry-standard safeguards. Enclave helps you
            quickly and easily satisfy HIPAA requirements and succeed in audits and
            vendor assessments.

.angled-section-dividers

.content
  .grid-container.hero-billboard.hero-billboard--full-title
    .hero-billboard__title
      .title The Health Insurance Portability and Accountability Act of 1996 (HIPAA)
    .hero-billboard__content
      .hero-billboard__copy
        %p
          HIPAA defines requirements for companies that create, receive, maintain,
          or transmit electronic protected health information (ePHI, or PHI).

        %p
          The HIPAA Security Rule states that companies must implement “reasonable
          and appropriate safeguards” over PHI, but identifying and implementing
          exactly what those requirements are can be challenging.

        %p
          Aptible Enclave implements a large number of the safeguards
          required by the HIPAA Security Rule, helping you to achieve HIPAA compliance. By deploying your apps and
          databases on Enclave, you can go to market faster and with greater
          confidence.
      .hero-billboard__image
        %img{ src: '/images/us-hhs-logo.svg' }

.content.hipaa-hosting__3-steps.angled-section--bottom-left
  .grid-container.grid--single-center
    .grid-item--adjacent
      .text-center.hero--dark
        %h2.title HIPAA Compliant Hosting on Enclave
        %h3.subtitle.light-blue-gray How it works

    .grid--3up-flex
      .grid-item.img-card
        .img-card__image
          = partial '/images/app-terminal-patient-rb.svg'
        .img-card__title
          Build your app
        .img-card__copy
          %p
            Enclave is a framework-agnostic container hosting platform. Use it
            to launch a new app or migrate an existing project.
          %p
            By
            %a{ href: '/sign-up' } signing up for a free Enclave Development Account, you can deploy your apps and databases while evaluating Enclave as a hosting platform.


      .grid-item.img-card
        .img-card__image
          = partial '/images/deploy-terminal-and-illustration.svg'
        .img-card__title
          Deploy on Enclave
        .img-card__copy
          %p
            As soon as your app is ready, upgrade to a Production Account. The Enclave Production Account runs in your own Dedicated Stack, and as a result is ready to accept PHI and other regulated or sensitive data.

      .grid-item.img-card
        .img-card__image
          = partial '/images/compliance.svg'
        .img-card__title
          Pass audits
        .img-card__copy
          %p
            Leverage Enclave’s audit-ready security controls to demonstrate
            HIPAA compliance, pass customer audits, and secure industry
            certifications such as HITRUST.

            For
            HIPAA hosting, we’ll sign a Business Associate Agreement (BAA)
            together. Signing a BAA with us is a legal requirement required for
            hosting PHI on Enclave.

.content.angled-section-gradient--with-grid-and-blue.enclave-hids__cta
  .grid-container
    .deploy-now.grid-item.text-center
      %h2.title.title--white
        Deploy Your First App Now
      %h3.subtitle.light-blue-gray
        Use Enclave to meet many of the requirements associated with the HIPAA Security Rule and to demonstrate HIPAA compliance to auditors and customers.

      = partial 'partials/ctas/signup-cta', locals: { |
            class_name: 'signup-cta--centered',       |
            cta_label: 'Sign Up',                     |
            cta_placeholder: 'Enter your work email'  |
          }                                           |

      = partial 'partials/signup-demo-request'

-# .content.hipaa-hosting__tech-safeguards
-#   .grid-container.grid--single-center
-#     .grid-item.text-center
-#       .enclave-hero__copy
-#         %h1.title
-#           Technical Safeguards
-#         %p.subtitle.light-blue-gray
-#           In the context of HIPAA, Technical Safeguards are technical features
-#           of your infrastructure that contribute to protecting PHI. Enclave
-#           fully implements a large number of Technical Safeguards for you,
-#           and makes it trivial to meet most others:
-#
-#   .grid-container.grid--2up-flex
-#     .grid-item.img-card
-#       .img-card__title Access Controls
-#       .img-card__copy
-#         Enclave® implements role-based access control for all access to the
-#         platform. You’ll still need to implement access controls in your app
-#         itself, but with Enclave, you’re all set with regard to controlling
-#         backend access (e.g. code deployments, SSH sessions, database tunnels).
-#
-#     .grid-item.img-card
-#       .img-card__title Integrity Controls
-#       .img-card__copy
-#         Enclave® backs up your
-#         databases on a daily basis and on-demand. Enclave databases (e.g.
-#         PostgreSQL,MySQL, MongoDB) are configured conservatively to protect
-#         data integrity.
-#
-#   .grid-container.grid--2up-flex
-#     .grid-item.img-card
-#       .img-card__title Audit Controls
-#       .img-card__copy
-#         Enclave® captures all logs
-#         generated by your apps, databases, and even SSH sessions, and routes
-#         them to the logging destination or SIEM of your choice. All you need
-#         to do is remember to add logging statements in your app!
-#     .grid-item.img-card
-#       .img-card__title Transmission Security
-#       .img-card__copy
-#         Enclave® Managed HTTPS
-#         Endpoints let you deliver your app over HTTPS with the click of a
-#         button. Your access to backend systems (e.g. database tunnels, SSH
-#         sessions) is authenticated and encrypted. Finally, Enclave®
-#         databases require TLS for all connections.

.content.hipaa-hosting__tech-safeguards.angled-section-gradient--with-bottom-grid
  .grid-container
    .hero.text-center
      %h2.title.title--white Technical Safeguards
      %h3.subtitle.light-blue-gray
        In the context of HIPAA, Technical Safeguards are technical features of
        your infrastructure that contribute to protecting PHI. Enclave fully
        implements a many Technical Safeguards for you, and makes it
        trivial to meet most others.

    .comparison-table
      .comparison-table__header
        .comparison-option
          = partial '/images/us-hhs-logo.svg'
          .comparison-option__title
            HIPAA Requirements
        .comparison-option
          = partial '/partials/aptible-mark'
          .comparison-option__title
            Enclave® Safeguards
      .comparison-feature
        .comparison-feature__title Technical Safeguards
        .comparison-feature__body
          .comparison-feature__point Access Controls
          .comparison-feature__point
            Enclave implements role-based
            access control for all access to the platform. You’ll still need to
            implement access controls in your app itself, but with Enclave,
            you’re all set with regard to controlling backend access (e.g. code
            deployments, SSH sessions, database tunnels).
        .comparison-feature__body
          .comparison-feature__point Audit Controls
          .comparison-feature__point
            Enclave captures all logs generated by your apps, databases, and even
            SSH sessions, and routes them to the logging destination or SIEM of
            your choice. All you need to do is remember to add logging statements
            in your app!
        .comparison-feature__body
          .comparison-feature__point Integrity Controls
          .comparison-feature__point
            Enclave backs up your databases on a daily basis and on-demand.
            Enclave databases (e.g. PostgreSQL,MySQL, MongoDB) are configured
            conservatively to protect data integrity.
        .comparison-feature__body
          .comparison-feature__point Transmission Security
          .comparison-feature__point
            Enclave Managed HTTPS Endpoints let you deliver your app over HTTPS
            with the click of a button. Your access to backend systems (e.g.
            database tunnels, SSH sessions) is authenticated and encrypted.
            Enclave® databases require TLS for all connections.

  .grid-container.grid--single-center
    .enclave__aws-comparison__actions.btn-callout
      Learn more about all of Enclave's security and audit-readiness features in the
      %a{ href: '/assets/aptible-enclave-division-of-responsibilities.pdf' } Enclave Security Division of Responsibilities
      &nbsp;→

.content.hipaa-hosting__safeguards-group
  .grid-container.grid--2up-flex
    .grid-item
      %h2.title
        Physical Safeguards (§ 164.310)
      %h3.subtitle.subtitle--with-hr
        HIPAA mandates Physical Safeguards such as Facility Security Plan, Access Control, Maintenance Records, and Contingency Operations. These requirements
        protect the systems hosting PHI from natural and environmental
        hazards or unauthorized intrusion.
      %p
        %strong Enclave
        is built on AWS, so applications deployed on Enclave inherit many Physical Safeguards from AWS's own physical security measures. Enclave also ensures that database backups are distributed across multiple regions, meeting Contingency Operations requirements and ensuring your data won't be lost in the event of a disaster compromising any individual data center.
    .grid-item
      %h2.title
        Administrative Safeguards (§ 164.308)
      %h3.subtitle.subtitle--with-hr
        HIPAA mandates the implementation of a comprehensive security management program. Among other things, HIPAA requires the preparation of contingency and incident response plans, train your workforce, and periodically assess your performance.
      %p
        %strong Enclave
        makes it easier to manage this security
        program by implementing many of HIPAA's requirements, thus minimizing the scope of your security management
        program.
      %p
        %strong Aptible Gridiron® provides analyses, reports, documentation, and training to help you administer your entire security management program. Gridiron prepares a Contingency Plans and a Security Incident Response plan, provides Workforce Security Awareness and Training, and performs periodic Risk Analysis on your infrastructure and across your business.

        %a{ href: '/gridiron' } Learn more about Aptible Gridiron



.content.angled-section-gradient.hipaa-hosting__beyond-hippa
  .grid-container
    .grid-item.hero.text-center
      %h2.title.title--white
        Beyond HIPAA: Vendor Assessments
      %h3.subtitle.light-blue-gray
        Meeting HIPAA requirements is only the baseline of what you must comply with when deploying applications processing PHI.
      %h3.subtitle.light-blue-gray
        Potential partners and customers such as hospitals and
        insurance networks will often impose much more stringent and specific
        requirements upon you as part of their vendor assessments. Enclave offers security controls that help you go above and beyond HIPAA requirements.

    .grid--3up-flex
      .grid-item.img-card
        .img-card__image--free.img-card__image--managed-hids-mini
          = partial '/images/managed-hids-mini.svg'
        .img-card__title.white
          Managed Host-based Intrusion Detection
        .img-card__copy.sky-blue
          Your cloud infrastructure is protected at the host level with both
          intrusion detection monitoring and incident response. The Aptible
          Security Team investigates, responds to, and resolves any security
          incidents that are discovered via the HIDS.

      .grid-item.img-card
        .img-card__image--free
          = partial '/images/security-controls/vuln-scanning.svg'
        .img-card__title.white
          Docker Image Vulnerability Scanning
        .img-card__copy.sky-blue
          Vulnerability scanning is enabled by default on all your containers,
          with automated scanning and real-time notifications via integration
          with Appcanary.

      .grid-item.img-card
        .img-card__image--free
          = partial '/images/security-controls/audit-reports.svg'
        .img-card__title.white
          Activity Reports
        .img-card__copy.sky-blue
          Activity Reports list all operations that take
          place in a given Environment; these reports are posted on a weekly basis in the
          Aptible Dashboard.
