---
section: Home
title: HIPAA Compliance for Healthcare Innovators
sub_title: Secure, private cloud deployment for digital health.
about:
  h1: One stop for HIPAA compliance, as a service.
  h2: Aptible is the world’s first application deployment platform built to automate HIPAA compliance for web and mobile technology.
  p1: "{icon} Deployment Platform: Runs applications and databases. Manages servers, network topology, security, backups, enryption, and orgazational permissions so your engineers can focus on building great products."
  p2: "{icon} Compliance Engines: Integrate with the platform to generate all of the documentation, audit logs, and explanatory materials you need to demonstrate compliance with every aspect of HIPAA."

how:
  h1: How Aptible Works
  p1: "- Push code to a Git remote \n\n- Run the languages, frameworks, and databases you choose\n\n- Manage compliance with an intuitive web dashboard \n\n- View status and generate audit reports in real time"
  ctas:
    1:
      title: How does Aptible's technology work?
      href: /technology
    2:
      title: How does Aptible help with every component of HIPAA compliance?
      href: /compliance
  tools:
    title: Use the right tool for the right job.
    description: "Never be forced to choose between good engineering and compliance: Aptible supports every major language and framework, and all of the most popular open source databases."
    logos:
      redis:
        url: /pages/assets/redis.png
        className: redis
      mongo:
        url: /pages/assets/mongodb.png
        className: mongo
      pg:
        url: /pages/assets/postgres.png
        className: pg
      mysql:
        url: /pages/assets/mysql.png
        className: mysql
      django:
        url: /pages/assets/django.png
        className: django
      node:
        url: /pages/assets/nodejs.png
        className: node
      ruby:
        url: /pages/assets/ruby.png
        className: ruby
why:
  lockin:
    title: No lock-in
    description: "Integration is as simple as adding a single file to your codebase.  No proprietary APIs, no migration fees, and no dev/prod disparity."
    logo: /pages/assets/containers.svg
    classNamr: containers
  compliance:
    title: One-stop HIPAA compliance
    description: "Running your apps and databases gives our compliance tools deep hooks into your ops, saving you time and money on every aspect of HIPAA."
    logo: /pages/assets/HIPAA-compliance.svg
    className: compliance
  workflow:
    title: Built for your workflow
    description: "Like Heroku? You’ll love Aptible.  Manage apps, not infrastructure. Integrates seamlessly with Travis, Circle, and other CI tools."
    logo: /pages/assets/workflow.svg
    className: workflow

customers:
  enabled: false
  pager:
    customer_name: Pager
    name: Oscar Salazar
    title: Founder
    photo: /pages/assets/customers/osalazar.jpg
    logo: /pages/assets/customers/pager.png
    testimonial: 'Vestibulum pretium placerat mollis. Donec ultricies odio enim, et vehicula purus blandit vitae. Proin eleifend blandit cursus. Cum sociis natoque penatibus et magnis dis parturient montes.'
    url: http://getpager.com
  nightingale:
    customer_name: Nightingale
    name: Eric Bakan
    title: Founder
    photo: /pages/assets/customers/eric.png
    logo: /pages/assets/customers/nightingaleapp.jpg
    testimonial: '22Vestibulum pretium placerat mollis. Donec ultricies odio enim, et vehicula purus blandit vitae. Proin eleifend blandit cursus. Cum sociis natoque penatibus et magnis dis parturient montes.'
    url: http://nightingaleapp.com

newsletter:
  title: "Get the Latest Devops and Security News"
  subtitle: Straight to your inbox, no more than twice a month.
  placeholder: Enter your email address
  submit: "Sign me up!"
  success: Thanks for signing up!
  error: Please use a valid email

---

<div class="container">
  <div class="row section about-billboard">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
            <h1>{{about.h1}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>{{about.h2}}</h2>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              {{#markdown}}{{about.p1}}{{/markdown}}
            </div>
            <div class="col-md-6 col-sm-12">
              {{#markdown}}{{about.p2}}{{/markdown}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <div class="panel panel-default cta-sidebar">
        <div class="home-cta-body">
          <h3>Like Heroku? You'll Love Aptible</h3>
          <a class="btn btn-primary btn-lg" href="/pricing.html">Choose Your Account Type</a>
          <div class="plan-info">Heroku is a trademark of Heroku, Inc. Aptible is not affiliated with Heroku in any way.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col-sm-12">
      <div class="panel panel-default why-aptible-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="how-aptible-works">
                <h1>{{how.h1}}</h1>
                <div class="how-description">{{#markdown}}{{how.p1}}{{/markdown}}</div>
                <ul class="how-ctas">
                  {{#each how.ctas}}
                    <li><a href="{{href}}">{{title}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 aptible-tools">
              <div class="tools-carousel">
                {{#each how.tools.logos}}
                  <div class="tool logo">
                    <img src="{{url}}" class="{{className}}" />
                  </div>
                {{/each}}
              </div>
              <div class="tools-description row">
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="fact-item">
                    <h4>{{how.tools.title}}</h4>
                    <div class="description">{{how.tools.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-footer why-aptible">
          <div class="row">
            <div class="col-sm-4">
              <div class="why-item">
                <div class="why-icon {{why.lockin.className}}">
                  <img src="{{why.lockin.logo}}" />
                </div>
                <div class="why-description fact-item">
                  <h4>{{why.lockin.title}}</h4>
                  <div class="description">{{#markdown}}{{why.lockin.description}}{{/markdown}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="why-item">
                <div class="why-icon {{why.workflow.className}}">
                  <img src="{{why.workflow.logo}}" />
                </div>
                <div class="why-description fact-item">
                  <h4>{{why.workflow.title}}</h4>
                  <div class="description">{{#markdown}}{{why.workflow.description}}{{/markdown}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="why-item">
                <div class="why-icon {{why.compliance.className}}">
                  <img src="{{why.compliance.logo}}" />
                </div>
                <div class="why-description fact-item">
                  <h4>{{why.compliance.title}}</h4>
                  <div class="description">{{#markdown}}{{why.compliance.description}}{{/markdown}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

{{#if customers.enabled}}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="customers">
        <h1>Our Customers</h1>
        <div class="testimonials">
          {{#each customers}}
            <div class="testimonial">
              <div class="testimonial-body">&ldquo;{{testimonial}}&rdquo;</div>
              <div class="spacer"></div>
              <ul class="post-meta">
                <li><div class="gravatar sm"><img src="{{photo}}" /></div></li>
                <li class="author">{{name}}</li>
                <li class="date">{{title}} - {{customer_name}}</li>
              </ul>
            </div>
          {{/each}}
        </div>
        <div class="logos">
          <div class="row">
            {{#each customers}}
              <div class="col-sm-3">
                <div class="logo {{slugify customer_name}}">
                  <a href="{{url}}">
                    <img src="{{logo}}" />
                  </a>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="container">
  <div class="row section">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <div class="panel panel-default newsletter-signup-panel">
        <div class="panel-body">
          <h1 class="panel-title">{{newsletter.title}}</h1>
          <h5 class="panel-sub">{{newsletter.subtitle}}</h5>
          <div class="panel-cta">
           {{> newsletter_signup}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
