---
title: Plans and Pricing
description: "Aptible's pricing page"
posted: 2014-06-30
production_title: Aptible Production Account
production_subtitle: "Start deploying HIPAA-compliant apps in minutes with our ****High-Assurance Deployment Platform**** and industry-leading ****HIPAA Compliance Tools**** \n\nStarting at $3499/month with an annual contract"
development_plan_cost: $0.06/hr

additional_costs:
  containers:
    price: $0.10/hr
    name: Additional App/Database Containers
  storage:
    price: $0.40/GB/Month
    name: Additional Storage, Encrypted Backups Included

benefits:
  ops:
    title: "High-Assurance Deployment Platform"
    svg: /pages/assets/ops.svg
    features:
      included: 10 App/Database Containers Included
      alsoincluded: 1TB Storage, with Free Encrypted Backups
      security: Powerful Security and Audit Controls
      deploys: One-Click Deploys and Scaling
      ci: Easy CI Integration
      support: 24/7 Techincal and Compliance Support

  compliance:
    title: "Integrated HIPAA Compliance Tools"
    svg: /pages/assets/compliance.svg
    features:
      risk: HIPAA Risk Analysis Engine
      policy: HIPAA Security + Privacy Policy Engine
      training: HIPAA Workforce Training
      incident: Incident Response Management Engine
      audits: Real-Time Auditing and Documentation
      baa: Signed Business Associate Agreement

questions_title: Questions? We have answers.
questions:
  security:
    inquiry: What is a container?
    response: A container is like a lightweight virtual machine that can be used to run an instance of an application or a database.
  deploys:
    inquiry: What is the difference between account types?
    response: Only Production Accounts have the security and legal features required to support HIPAA compliance.
  scaling:
    inquiry: Can we have both a Production and Development Account?
    response: Yes, most organizations have both.
  backups:
    inquiry: Automatic Backups
    response: Nunc vitae dui diam. Duis id ipsum non nunc fermentum sagittis. Curabitur fringilla ultrices massa.
  ci:
    inquiry: CI Integration
    response: Nunc vitae dui diam. Duis id ipsum non nunc fermentum sagittis. Curabitur fringilla ultrices massa.
  failovers:
    inquiry: Failovers
    response: Nunc vitae dui diam. Duis id ipsum non nunc fermentum sagittis. Curabitur fringilla ultrices massa.
  support:
    inquiry: 24/7 Support
    response: Nunc vitae dui diam. Duis id ipsum non nunc fermentum sagittis. Curabitur fringilla ultrices massa.
  users:
    inquiry: Where can I find more answers?
    response: Support, or contact us.

---

<div class="fancy-cover">
  <div class="container">

    <div class="row">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">

          <div class="panel panel-default">
            <div class="panel-body panel-body-slim">
              <h1 class="panel-title">{{production_title}}</h1>
              <h5 class="panel-sub">{{#markdown}}{{production_subtitle}}{{/markdown}}</h2>
              <div class="plan-benefits">

                <div class="row">
                  {{#each benefits}}
                    <div class="col-sm-6">
                      <div class="plan-benefit">
                        <div class="benefit-icon">
                          <img src="{{svg}}" alt="{{title}}" />
                        </div>

                        <h3 class="benefit-title">{{title}}</h3>
                        <ul class="features-list">
                          {{#each features}}
                            <li>{{fa 'check'}}<div class="feature-body">{{.}}</div></li>
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  {{/each}}
                </div>

              </div>
              <div class="plan-footer">
                <a class="btn btn-lg btn-primary" href="{{config.production_signup_url}}">Open a Production Account</a>
                <ul class="additional-costs">
                  {{#each additional_costs}}
                    <li class="additional_cost">{{price}} {{name}}</li>
                  {{/each }}
                </ul>
              </div>
            </div>
          </div>

          <div class="development-plan-callout">
            <strong>Don't need a Production Account yet?</strong>  <a href="{{config.development_signup_url}}">
            <br>Start with</a> an Aptible Development Account from $0.06/hr.
            <br>No minimums, credit card required.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row section">
    <div class="col-sm-12">
      <div class="row">
        <h2 class="section-title">{{questions_title}}</h2>
        {{#each questions}}
          <div class="col-md-3 col-sm-4">
            <div class="fact-item">
              <h4>{{inquiry}}</h4>
              <div class="description">{{#markdown}}{{response}}{{/markdown}}</div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
