---
title: Pricing
description: Transparent pricing details for Enclave, Aptible's Docker container
             orchestration platform, and Gridiron, Aptible's compliance and
             data security management platform built for developers.
---

- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--adjacent.aptible-header--bottom-grid
    = partial 'partials/main-nav'

    .grid-container.pricing-page-header
      .centered-header.centered-header--wide
        %h1.heading__title Aptible Pricing
        %h2.heading__subtitle Simple, transparent, scalable

.content
  .pricing-summaries.grid-container
    -# Enclave
    = partial 'pricing/enclave-summary'

    -# Gridiron
    .pricing-summary.pricing-summary--gridiron
      .pricing-summary__header
        .pricing-summary__product-icon= partial 'images/gridiron.svg'
        .pricing-summary__title Gridiron
        .pricing-summary__subtitle
          Security and compliance management for software development teams

      .pricing-summary__body
        .product-price
          .product-price__name Gridiron
          .product-price__price Starting at $2,499/month with annual contract

        .pricing-summary__checklist.pricing-summary--fill
          .pricing-summary__label Includes
          %ul.checklist.checklist--blue
            %li.pricing-summary__checklist-item
              First compliance protocol (HIPAA, SOC 2, or ISO 27001)
            %li.pricing-summary__checklist-item
              2 Admin seats for security leads
            %li.pricing-summary__checklist-item
              10 Advanced seats for developers, ops team members
            %li.pricing-summary__checklist-item
              20 Basic seats for normal workforce members

        .pricing-summary__label Extras
        .pricing-rates
          .pricing-rate
            .pricing-rate__title Basic Seat
            .pricing-rate__rate $199/year
          .pricing-rate
            .pricing-rate__title Advanced Seat
            .pricing-rate__rate $499/year
          .pricing-rate
            .pricing-rate__title Admin Seat
            .pricing-rate__rate $999/year
          .pricing-rate
            .pricing-rate__title Additional Protocol
            .pricing-rate__rate $7499/year

      .pricing-summary__body
        = partial 'partials/ctas/demo-cta', locals: {             |
            cta_label: 'Have Us Call You',                          |
            class_name: 'pricing-demo-request signup-cta--small'  |
          }                                                       |

  = partial 'pricing/need-more'

.content
  .grid-container
    .pricing-faq
      .pricing-faq__products
        .pricing-faq__product
          .pricing-faq__product-title Why do customers choose Enclave?
          .pricing-faq__answer
            %p
              For new projects, setting up a secure deployment environment that
              can handle sensitive data (PII, PHI, credit card numbers, SSNs,
              financial data, etc.) takes a lot of work: initial
              decision-making, initial implementation, and continued upkeep.
            %p
              Enclave is a developer-friendly container orchestration platform
              that automatically implements the security controls needed for
              deploying and scaling Dockerized apps in regulated industries.
              Enclave reduces the time, cost, and risk related to securing data
              so that you can focus on building a great app.
            %p
              Features like database log streaming, Managed HTTPS,
              zero-downtime deploys, container metrics, managed VPNs, and
              seamless Gridiron integration make Enclave the best choice for
              engineering teams that need to move fast and not break things.

        .pricing-faq__product
          .pricing-faq__product-title Why do customers choose Gridiron?
          .pricing-faq__answer
            %p
              Meeting the requirements for HIPAA, ISO 27001, or SOC 2 means
              investing in more than just ensuring your application protects
              sensitive data.
            %p
              Gridiron is the easiest way for developers to build and run a
              comprehensive security program, covering both the technical and
              administrative aspects of compliance. Gridiron turns information
              security requirements into repeatable processes while managing
              all the documentation required to demonstrate that you're
              complying with regulatory or customer requirements.
            %p
              Gridiron identifies relevant risks, drafts custom policies and
              procedures featuring appropriate administrative controls, and
              automates the process of training your team on your security
              program and the fundamental aspects of data security and
              compliance. All of this makes Gridiron the best choice for
              engineering teams who need to ensure company-wide compliance with
              the requirements of HIPAA, SOC 2, and ISO 27001.
