---
title: Simple, flexible, transparent Pricing
description: Transparent pricing details for Enclave, Aptible's Docker container
             orchestration platform, and Gridiron, Aptible's compliance and
             data security management platform built for developers.
---

- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--adjacent.aptible-header--bottom-grid
    = partial 'partials/main-nav'

    .grid-container.pricing-page-header
      .centered-header.centered-header--wide
        %h1.heading__title Aptible Pricing
        %h2.heading__subtitle Simple. Flexible. Transparent.

.content
  .pricing-summaries.grid-container
    -# Enclave
    .pricing-summary.pricing-summary--enclave
      .pricing-summary__header
        .pricing-summary__product-icon= partial 'images/enclave.svg'
        .pricing-summary__title Enclave
        .pricing-summary__subtitle
          Docker container orchestration platform with built-in security
          controls for deploying in regulated industries
        .pricing-summary__call-out
          Free to get started with $500 credit

      .pricing-summary__body
        .product-price
          .product-price__name Enclave Production Stack
          .product-price__exp
            Dedicated stack, ideal for sensitive production data
          .product-price__price
            $999/month per stack + additional resource usage

        .pricing-summary__checklist
          .pricing-summary__label Includes
          %ul.checklist.checklist--blue
            %li.pricing-summary__checklist-item
              6GB RAM across as many contains as you need
            %li.pricing-summary__checklist-item
              1TB encrypted database disk (incl backups)
            %li.pricing-summary__checklist-item
              4 TLS/SSL Endpoints

      .pricing-summary__body.pricing-summary__body--bordered
        .product-price
          .product-price__name Enclave Development Stack
          .product-price__exp Shared stack, ideal for development or testing
          .product-price__price
            No monthly fee, no annual contract. Pay-as-you-go for containers,
            disk, and endpoint usage.

        .pricing-summary__label Enclave Unit Pricing
        .pricing-rates
          .pricing-rate
            .pricing-rate__title App &amp; Database Containers
            .pricing-rate__rate $0.08/GB/hour
          .pricing-rate
            .pricing-rate__title Encrypted Disk
            .pricing-rate__rate $0.37/GB/month
          .pricing-rate
            .pricing-rate__title SSL Endpoints
            .pricing-rate__rate $0.05/hour

        %a.btn.btn--full{ href: open_account_href } Get Started With Enclave
        %a.arrow-link--right{ href: '/pricing/enclave/' } Customize Enclave Pricing

    -# Gridiron
    .pricing-summary.pricing-summary--gridiron
      .pricing-summary__header
        .pricing-summary__product-icon= partial 'images/gridiron.svg'
        .pricing-summary__title Gridiron
        .pricing-summary__subtitle
          Compliance and data security management platform built for developers

      .pricing-summary__body
        .product-price
          .product-price__name Gridiron
          .product-price__price $2,500/month with annual contract

        .pricing-summary__checklist.pricing-summary--fill
          .pricing-summary__label Includes
          %ul.checklist.checklist--blue
            %li.pricing-summary__checklist-item
              Access to one compliance protocol e.g. HIPAA, SOC 2, or ISO 27001
            %li.pricing-summary__checklist-item
              Basic compliance and security training for up to 25 team members
            %li.pricing-summary__checklist-item
              Advanced compliance and security training for up to 10 team members

        .pricing-summary__label
          Additional training users and compliance protocols available
        .pricing-rates
          .pricing-rate
            .pricing-rate__title Compliance Protocols
            .pricing-rate__rate $500/month
          .pricing-rate
            .pricing-rate__title Basic Training Users
            .pricing-rate__rate $29/user/month
          .pricing-rate
            .pricing-rate__title Advanced Training Users
            .pricing-rate__rate $49/user/month

        = partial 'partials/ctas/demo-cta', locals: {             |
            cta_label: 'Request A Demo',                          |
            class_name: 'pricing-demo-request signup-cta--small'  |
          }                                                       |

= partial 'partials/about-aptible'

= partial 'partials/ctas/easy-as-git-push'
