---
layout: application.hbs
---

{{> company_nav}}

<div class="container main-content">
  <div class="post-single">
    <div class="row section">
      <div class="col-sm-12">

        <article class="post">
          <div class="row">
            <div class="col-sm-12">
              <header>
                <h1 class="title"><a href="{{ post_path page }}">{{title}}</a></h1>
              </header>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-sm-3 post-sidebar">
              <ul class="post-meta">
                <li>{{ gravatar page.author_email 'lg' }}</li>
                <li class="author"><a href="{{ author_path page}}">{{ page.author_name }}</a></li>
                <li class="date">{{ moment page.posted format="D MMMM YYYY" }}</li>
              </ul>
            </div>
            <div class="col-md-8 col-sm-9">
              <div class="post-body">
                {{#markdown}}
                  {{body}}
                {{/markdown}}
              </div>
            </div>
          </div>

        </article>

      </div>
    </div>
  </div>
</div>