- content_for :header do
  %header.aptible-header.hero-gradient--angled
    = partial 'partials/main-nav'

    .grid-container.grid--2up
      .grid-item.product-page__hero-header
        %h2.heading__subtitle Secure DevOps
        %h1.heading__title Enclave
        %p.heading__summary--light-blue
          Aptible Enclave is a container platform that simplifies secure
          deployment and development best practices. Unlike using IaaS
          directly, Enclave is turnkey for regulated apps, and includes robust
          DevOps and security automation.

        %p.heading__summary--light-blue
          %a.btn{ href: open_account_href } Open a Development Account
          %a.btn.btn--outline{ href: '/pricing' } See Pricing

      .grid-item.product-page__enclave
        = partial '/images/enclave.svg'

.content
  .grid-container.not-ready
    .feature-carousel__triggers
      %a.feature-carousel__btn.active{ href: '#stack' }
        = partial 'images/feature-icons/icon-stack.svg'
        The Stack
      %a.feature-carousel__btn{ href: '#network' }
        = partial 'images/feature-icons/icon-network.svg'
        The Network
      %a.feature-carousel__btn{ href: '#load-balancing' }
        = partial 'images/feature-icons/icon-load-balancing.svg'
        Load Balancing
      %a.feature-carousel__btn{ href: '#user-access' }
        = partial 'images/feature-icons/icon-user-access.svg'
        Team Access
      %a.feature-carousel__btn{ href: '#apps' }
        = partial 'images/feature-icons/icon-apps.svg'
        Apps
      %a.feature-carousel__btn{ href: '#databases' }
        = partial 'images/feature-icons/icon-databases.svg'
        Databases

  .feature-carousel.grid-container.grid--2up.grid--2up-flex.feature-carousel--stack.active
    .feature-carousel__details.grid-item
      .heading__subtitle The Stack
      %h2.heading__title.heading__title--dark The Enclave Container Platform
      %p.heading__summary.heading__summary--light-blue-gray
        Aptible Enclave is a deployment platform designed to securely deploy
        Docker containers into HIPAA-ready environments. We manage zero-downtime
        deployments, scale your clusters, encrypt and back up your data, and
        run your ops, allowing you to focus on development.

    .feature-carousel__illustration.grid-item
      %img{ src: '/images/enclave-features/stack.png' }

-#  .feature-carousel.grid-container.grid--2up.grid--2up-flex.feature-carousel--network
-#    .feature-carousel__details.grid-item
-#      .heading__subtitle The Network
-#      %h2.heading__title.heading__title--dark= lorem.words 4
-#      %p.heading__summary.heading__summary--light-blue-gray= lorem.paragraph
-#
-#    .feature-carousel__illustration.grid-item
-#      %img{ src: '/images/enclave-features/network.png' }
-#
-#  .feature-carousel.grid-container.grid--2up.grid--2up-flex.feature-carousel--load-balancing
-#    .feature-carousel__details.grid-item
-#      .heading__subtitle Load Balancing
-#      %h2.heading__title.heading__title--dark= lorem.words 4
-#      %p.heading__summary.heading__summary--light-blue-gray= lorem.paragraph
-#
-#    .feature-carousel__illustration.grid-item
-#      %img{ src: '/images/enclave-features/load-balancing.png' }
-#
-#  .feature-carousel.grid-container.grid--2up.grid--2up-flex.feature-carousel--user-access
-#    .feature-carousel__details.grid-item
-#      .heading__subtitle Team Access
-#      %h2.heading__title.heading__title--dark= lorem.words 4
-#      %p.heading__summary.heading__summary--light-blue-gray= lorem.paragraph
-#
-#    .feature-carousel__illustration.grid-item
-#      %img{ src: '/images/enclave-features/user-access.png' }
-#
-#  .feature-carousel.grid-container.grid--2up.grid--2up-flex.feature-carousel--apps
-#    .feature-carousel__details.grid-item
-#      .heading__subtitle Apps
-#      %h2.heading__title.heading__title--dark= lorem.words 4
-#      %p.heading__summary.heading__summary--light-blue-gray= lorem.paragraph
-#
-#    .feature-carousel__illustration.grid-item
-#      %img{ src: '/images/enclave-features/apps.png' }
-#
-#  .feature-carousel.grid-container.grid--2up.grid--2up-flex.feature-carousel--databases
-#    .feature-carousel__details.grid-item
-#      .heading__subtitle Databases
-#      %h2.heading__title.heading__title--dark= lorem.words 4
-#      %p.heading__summary.heading__summary--light-blue-gray= lorem.paragraph
-#
-#    .feature-carousel__illustration.grid-item
-#      %img{ src: '/images/enclave-features/databases.png' }

.content.hero-gradient--angled.enclave-intro
  .grid-container.grid--single-center
    .enclave-demo.grid-item.grid-item--adjacent
      %h2.heading__title--centered
        The Enclave Deployment Platform for Healthcare Innovators
      %p.heading__summary
        Deploy Docker containers into secure, isolated, HIPAA-ready environments.

  .grid-container.meet-enclave
    .grid-item.grid-item--two-thirds.meet-enclave__terminal
      %pre.highlight.plaintext
        %table.rouge-table.rouge-table--full-width
          %tr
            %td.rouge-code.rouge-code--no-num.rouge-code--terminal
              .terminal $ aptible apps:create healthco-on-rails
              .terminal-interactive <span class="terminal-response">INFO: Authorizing...</span>
              .terminal-interactive <span class="terminal-response">INFO: healthco-on-rails created successfully.</span>
              .terminal &nbsp;
              .terminal &nbsp;
              .terminal $ git remote add aptible git@beta.aptible.com:healthco-on-rails.git
              .terminal $ git push aptible master
              .terminal-interactive remote: <span class="terminal-response">(8ミ | INFO: Authorizing...</span>
              .terminal-interactive remote: <span class="terminal-response">(8ミ | INFO: Deploy succeeded.</span>
              .terminal &nbsp;
              .terminal &nbsp;
              .terminal $ aptible logs --app healthco-on-rails
              .terminal-interactive Connected to logs from log-tail-feelsgoodman
              .terminal-response 2016-10-01T16:39:17.720Z [healthco-on-rails-web] => Booting WEBrick
              .terminal-response 2016-10-01T16:39:17.722Z [healthco-on-rails-web] => Rails 4.2.7.1 application starting in production on http://0.0.0.0:3000
              .terminal-response 2016-10-01T16:39:18.364Z [healthco-on-rails-web] => Run `rails server -h` for more startup options
              .terminal-response 2016-10-01T16:39:19.761Z [healthco-on-rails-web] => Ctrl-C to shutdown server

    .grid-item.grid-item--one-third.meet-enclave__copy
      %h3.meet-enclave-title Meet the Enclave Deployment Platform
      .meet-enclave-steps
        .meet-enclave-step__item
          Create and configure apps and databases directly from the
          %a{ href: "/support/toolbelt"} Aptible Toolbelt
        .meet-enclave-step__item
          Simply "git push" for a zero-downtime deployment
        .meet-enclave-step__item
          Stream app logs directly to your console

      %a.btn{ href: open_account_href } Open a Development Account

.content
  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Enclave Features

  = partial 'partials/enclave-features'

  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Getting Started with Enclave

  .grid-container.grid--4up
    - data.quickstart.each do |title, language|
      %a.grid-item.card{ href: quickstart_index_href(language), class: language.slug }
        .card__icon= partial "images/icons/#{language.svg}"
        .card__body
          %h3.card__title= title

= partial 'partials/resources-footer'
