---
title: Enclave - Secure DevOps
description: Aptible Enclave is a container platform that simplifies secure
             deployment and development best practices. Unlike using IaaS
             directly, Enclave is turnkey for regulated apps, and includes
             robust DevOps and security automation.
---
- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--with-breadcrumbs.aptible-header--bottom-grid
    = partial 'partials/main-nav'

    .enclave-hero.grid-container.grid--2up.aptible-header__bottom
      .home-hero.grid-collapse
        .home-hero__copy
          %h1.home__heading__title
            Enclave
          %p.home__heading__summary.heading__summary.heading__summary--sibling
            A secure container deployment platform. Deploy apps, databases, and
            secure network architecture with Enclave's flexible command line
            interface.

          = partial 'partials/signup-cta', locals: {     |
                cta_label: 'Get Started',                |
                cta_placeholder: 'Enter your work email' |
              }                                          |
          = partial 'partials/signup-demo-request'

        .home-hero__quotes
          .home__customer-quotes
            .card.card--dark
              .customer-quote__logo
                %img{ src: '/images/customers/pager.png' }
              .customer-quote
                “Aptible provides us a robust and secure platform to build our
                technology on. It's alleviated pain points with HIPAA compliance
                and saved us tons of money and time.”
              .customer-quote__author Sameer Khanna - VP of Engineering

    .enclave-hero__terminal
      %pre.highlight.plaintext
        %table.rouge-table
          %tr
            %td.rouge-code.rouge-code--no-num.rouge-code--terminal
              .terminal $ aptible login
              .terminal-interactive Email: osvaldo@aptible.com
              .terminal-interactive Password:
              .terminal-interactive 2FA Token: 555999
              .terminal-response Success! Token written to $HOME/.aptible/tokens.json

    .home__customers.aptible-header--angled
      .grid-container.grid--single-center
        %h2.home__customers__title
          Enclave helps these companies to deploy, scale and keep their apps,
          databases and network architecture secure.

        .home__customers-logos
          .home__customers-logo
            = partial '/images/customers/ucsf.svg'
          .home__customers-logo.home__customers-logo--spectra
            = image_tag 'customers/spectra-sky.png'
          .home__customers-logo
            = partial '/images/customers/everplans.svg'
          .home__customers-logo
            = image_tag 'customers/nuspine-sky.png'
          .home__customers-logo.home__customers-logo--healthify
            = partial '/images/customers/healthify.svg'
          .home__customers-logo.home__customers-logo--1bios
            = partial '/images/customers/1bios.svg'
        %a.btn{ href: '/customers/' } Learn how these companies use Enclave

.content.hero-dark.enclave-intro.aptible-header--bottom-grid
  .grid-container.grid--single-center
    .enclave-demo.grid-item.grid-item--adjacent
      %h2.heading__title--centered
        Deploy your apps and databases securely

  .grid-container.meet-enclave
    .grid-item.grid-item--one-third.meet-enclave__copy.aptible-header__bottom-grid__riser
      %h3.meet-enclave-title
      .meet-enclave-steps
        .meet-enclave-step__item
          Create and configure apps and databases directly from the
          %a{ href: "/support/toolbelt"} Aptible command line interface
        .meet-enclave-step__item
          Deploy with <code>git push</code>
        .meet-enclave-step__item
          Your app is running securely with zero-downtime deployment and
          streaming logs available

      %a.btn{ href: '/aws-vs-aptible/' } Compare to DIY with AWS

    .grid-item.grid-item--two-thirds.meet-enclave__terminal.aptible-header__bottom-grid__riser
      %pre.highlight.plaintext
        %table.rouge-table.rouge-table--full-width
          %tr
            %td.rouge-code.rouge-code--no-num.rouge-code--terminal
              .terminal $ aptible apps:create healthco-on-rails
              .terminal-interactive <span class="terminal-response">INFO: Authorizing...</span>
              .terminal-interactive <span class="terminal-response">INFO: healthco-on-rails created successfully.</span>
              .terminal &nbsp;
              .terminal &nbsp;
              .terminal $ git remote add aptible git@beta.aptible.com:healthco-on-rails.git
              .terminal $ git push aptible master
              .terminal-interactive remote: <span class="terminal-response">(8ミ | INFO: Authorizing...</span>
              .terminal-interactive remote: <span class="terminal-response">(8ミ | INFO: Deploy succeeded.</span>
              .terminal &nbsp;
              .terminal &nbsp;
              .terminal $ aptible logs --app healthco-on-rails
              .terminal-interactive Connected to logs from log-tail-feelsgoodman
              .terminal-response 2016-10-01T16:39:17.720Z [healthco-on-rails-web] => Booting WEBrick
              .terminal-response 2016-10-01T16:39:17.722Z [healthco-on-rails-web] => Rails 4.2.7.1 application starting in production on http://0.0.0.0:3000
              .terminal-response 2016-10-01T16:39:18.364Z [healthco-on-rails-web] => Run `rails server -h` for more startup options
              .terminal-response 2016-10-01T16:39:19.761Z [healthco-on-rails-web] => Ctrl-C to shutdown server

.content
  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Enclave Features

  = partial 'partials/enclave-features'

.content.developers-first--over-bottom
  = partial 'developers-first'

.content.about-aptible-hero
  .about-aptible-hero__pattern
    .grid-container.about-aptible-hero__container
      .about-aptible-hero__item
        %h2.about-aptible-hero__title About Aptible
      .about-aptible-hero__item
        %h3.about-aptible-hero__subtitle Always Improving
        %p
          Aptible is constantly adding new functionality to help developers
          work safely with and protect the most meaningful, sensitive data in
          highly regulated industries.
        %p.actions
          %a.btn{ href: '/blog/' } Check out our newest features

      .about-aptible-hero__item
        %h3.about-aptible-hero__subtitle A Real Partner
        %p
          We provide clear and transparent documentation, enterprise-level
          support and guidance with your security and compliance challenges.
          We've helped hundreds of developers in some of the world's most
          innovative companies get up and running quickly and securely.
        %p.actions
          %a.btn{ href: '/support/' } Check out our docs
        %p.actions
          %a.btn{ href: '/support-plans/' } Check out our support options



.content.hero-gradient--angled.aptible-header--bottom-grid
  .footer__signup.grid-container.grid--single-center
    .footer__signup__hgroup
      %h2.footer__signup-title
        Get your app deployed in minutes.
      .footer__signup-subtitle
        Security as easy as <code>git push</code>
    .footer__signup-form
      = partial 'partials/signup-cta', locals: {      |
            cta_label: 'Get Started',                 |
            cta_placeholder: 'Enter your work email'  |
          }                                           |
      = partial 'partials/signup-demo-request'
