- content_for :header do
  %header.aptible-header.hero-gradient--angled
    = partial 'partials/main-nav'

    .grid-container.grid--2up
      .grid-item.product-page__hero-header
        %h2.heading__subtitle Manage Security & Compliance
        %h1.heading__title Gridiron
        %p.heading__summary--light-blue
          Aptible Gridiron helps engineering teams set up and run robust security and compliance programs.

        %p.heading__summary--light-blue
          %a.btn{ href: open_account_href } Open a Development Account
          %a.btn.btn--outline{ href: '/pricing' } See Pricing

      .grid-item.product-page__gridiron
        = partial '/images/gridiron.svg'

.content
  .grid-container.grid--single-center
    .grid-item
      %h2.heading--single-center
        "We take security seriously" is bullsh*t.
      %p.summary--adjacent.summary--single-center
        Easy to say, hard to do. Good security takes attention to detail, and running a great security management program is difficult: complicated, time-consuming, repetitive, and boring – even more so when you add HIPAA, SOC, ISO, and other compliance requirements. 
        %br
        %br
        Small software engineering teams struggle to understand security requirements and translate rules into action. Growing teams struggle to track and consistently execute security activities.
        %br
        %br
        Until now.

  -# = partial 'images/gridiron-graph.svg'
.content.content--capped.gridiron__threat-model
  .grid-container.grid--2up
    .grid-item
      -# .heading__subtitle Model and Manage Threats
      %h2.heading__title.heading__title--dark Meet Gridiron
      %p.heading__summary.heading__summary--light-blue-gray
        Aptible Gridiron is a modern security management platform for cloud-based software engineering teams. 
  %img.angle-cap--bottom{ src: '/images/angle-cap-bottom.svg' }

.content.content--capped.gridiron__policies-procedures
  .grid-container.grid--2up-flex
    .grid-item
      -# .heading__subtitle Powerful Tools
      %h2.heading__title.heading__title--dark Solve for Compliance
      %p.heading__summary.heading__summary--light-blue-gray
        Gridiron makes it easy to:
        %ul
          %li Analyze and quantify risk
          %li Select and implement security controls
          %li Generate sane, relevant security and compliance policies
          %li Train your workforce in security and secure coding practices 
          %li Respond to security and privacy incidents
          %li Manage risk from your vendors and supply chain
          %li Conduct internal audits and compliance status checks
          %li Prepare for external audits and certifications

    .grid-item.grid-item--image
      = partial 'images/gridiron-features/policies-procedures.svg'

.content.content--capped.gridiron__workforce-training
  .grid-container.grid--2up-flex
    .grid-item
      -# .heading__subtitle Easy Management
      %h2.heading__title.heading__title--dark You look like an all-star
      %p.heading__summary.heading__summary--light-blue-gray
        %ul
          %li Get your team HIPAA-compliant or ready for SOC, ISO, PCI certification in days, not months
          %li Get your product to market with live data fast
          %li Assure your customers their data is safe with you
          %li Unlock enterprise markets and big sales contracts
    
    .grid-item.grid-item--image
      = partial 'images/gridiron-features/workforce-training.svg'
  %img.angle-cap--bottom{ src: '/images/angle-cap-bottom.svg' }

.content.content--capped
  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center
        Our customers work with the best health systems in the world.
      %p.summary--single-center
        Major health systems trust Aptible to secure data and cloud
        architecture for their technology partners.
    .grid-item.healthcare-systems__logos
      .logo-grid.logo-grid--3up
        .logo-grid__item
          = partial '/images/healthcare-systems/va.svg'
        .logo-grid__item
          = partial '/images/healthcare-systems/uhc.svg'
        .logo-grid__item
          = partial '/images/healthcare-systems/stanfordmed.svg'
        .logo-grid__item
          = partial '/images/healthcare-systems/kaiserpermanente.svg'
        .logo-grid__item
          = partial '/images/healthcare-systems/johnshopkinsmed.svg'
        .logo-grid__item
          = partial '/images/healthcare-systems/mayoclinic.svg'
= partial 'partials/resources-footer'
