---
# These variables are used in the page title and meta tags
title: "Gridiron: HIPAA Compliance and Security Management | Aptible"
description: Aptible Gridiron helps engineering teams set up and run robust
             security and compliance programs.
---

- content_for :header do
  %header.aptible-header.hero-gradient--gridiron
    = partial 'partials/main-nav'

    .gridiron-hero.grid-container.grid--2up.aptible-header__bottom
      .home-hero.grid-collapse
        .home-hero__copy
          %h1.home__heading__title.heading-1
            Gridiron
          %p.home__heading__summary.heading__summary.heading__summary--sibling
            Complete security management for developers. Meet and exceed strict
            requirements, prepare for certifications, and build trust with
            customers and partners.

          = partial 'partials/signup-cta', locals: {     |
                cta_label: 'Secure Your Org Now',        |
                cta_placeholder: 'Enter your work email' |
              }                                          |
          %ul.signup-cta__incentives
            %li.signup-cta__incentive Start your Risk Analysis
            %li.signup-cta__incentive Prepare to pass audits and security reviews
            %li.signup-cta__incentive Free to get started
            %li.signup-cta__incentive or <a class="" href="mailto:sales@aptible.com">Request a Demo</a>

        .home-hero__quotes
          .home__customer-quotes
            .card.card--dark
              .customer-quote__logo
                %img{ src: '/images/customers/mdsave.png' }
              .customer-quote
                “Aptible's unique combination of infrastructure and compliance
                management tools allow us to easily adopt and document security
                best-practices.”
              .customer-quote__author Ryan Aipperspach - CTO

          .gridiron-hero__screenshot.faux-window
            %img{ src: '/images/gridiron/screenshot.png' }

.content
  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %p.summary--single-center
        Aptible helps these companies build strong security programs and meet
        requirements for HIPAA, SOC 2, & ISO 27001 and more.
  .grid-container.grid--single-center
    .grid-item
      = partial 'customer-logo-grid'
      %a.btn.btn--logo-grid{ href: '/customers/' } Learn how these companies use Aptible

.content.gridiron-hero__why.hero-gradient--angled.aptible-header--bottom-grid
  .grid-container.grid--single-center
    -# TODO: Use design and copy is coming, discuss images
    -# Try Invision for copy discussions
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Why Gridiron?
      %p.summary--single-center
        Gridiron provides you with the developer-focused tools, training, and
        expert guidance your company needs to comply with regulatory
        requirements and pass security reviews.

  .grid-container--flex.why-gridiron
    .why-gridiron__copy
      %h3 Guidance
      %p
        Step through a security self-audit, risk analysis, and implementation of
        relevant security and compliance best practices forming a
        “single source of truth” for security/compliance assets.

      %h3 Preparedness
      %p
        Comprehensive documentation to prepare for regulatory audits and
        certifications and to build trust with customers and partners.

      %h3 Integrated Training
      %p.why-gridirion--grow
        Bespoke training for your team specifically tailored to each employee’s
        role to ensure compliance with security frameworks and regulatory
        requirements

      %p
        %a.btn{ href: '/aws-vs-aptible/' } Compare to DIY Compliance/Security

    .why-gridiron__carousel.carousel
      .carousel__cards
        .carousel__card
          %figure
            %img{ src: "/images/gridiron/award.svg" }
            %figcaption
              Answer straightforward questions about your tech stack
        .carousel__card
          %figure
            %img{ src: "/images/gridiron/award.svg" }
            %figcaption
              Gridiron creates tailored Risk Assessment, Policies and
              Procedures and Security and Compliance Training
        .carousel__card
          %figure
            %img{ src: "/images/gridiron/award.svg" }
            %figcaption
              You've achieved security and compliance
      .carousel__positions
        .carousel__position-dot{ data: { state: 'current' } }
        .carousel__position-dot
        .carousel__position-dot


.content
  -# TODO: Remove links to guides
  = partial 'developers-first'

= partial 'partials/about-aptible'

.content
  .home-quotes
    .home-quote
      .home-quote__bubble
        .home-quote__body
          “When evaluating a vendor, our priorities were trust, transparency,
          and reliability. Aptible hits them all, allowing us to focus on what
          we do without worrying about all the layers of legal and technical ops
          hurdles.”
        .home-quote__author
          Dan Levenson - CTO
      .home-quote__logo
        = partial 'images/customers/healthify.svg'

-# TODO: Customer quotes - customer model in Contentful

.content.hero-gradient--angled.aptible-header--bottom-grid
  .footer__signup.grid-container.grid--single-center
    .footer__signup__hgroup
      %h2.footer__signup-title
        Get your team HIPAA-compliant in days, not months
    .footer__signup-form
      = partial 'partials/signup-cta', locals: {      |
            cta_label: 'Get Secure & Compliant Now',  |
            cta_placeholder: 'Enter your work email'  |
          }                                           |
      %ul.signup-cta__incentives
        %li.signup-cta__incentive Start your Risk Analysis
        %li.signup-cta__incentive Prepare to pass audits and security reviews
        %li.signup-cta__incentive Free to get started
