---
# These variables are used in the page title and meta tags
title: "Gridiron: HIPAA Compliance and Security Management"
description: Aptible Gridiron helps engineering teams set up and run robust
             security and compliance programs.
---

- content_for :header do
  %header.aptible-header.hero-gradient--gridiron
    = partial 'partials/main-nav'

    .gridiron-hero.grid-container.aptible-header__bottom
      .home-hero.grid-collapse
        .home-hero__copy
          %h1.home__heading__title.home__heading__title--gridiron
            Gridiron
          %p.home__heading__summary.heading__summary--gridiron.heaing__summary.heading__summary--sibling
            Complete security management for developers. Powerful tools for
            engineering teams to self-audit, prepare for certifications, and
            build trust with customers and partners.

          = partial 'partials/demo-cta', locals: {       |
                cta_label: 'Request A Demo',             |
                cta_placeholder: 'Enter your work email' |
              }                                          |
          %ul.signup-cta__incentives
            %li.signup-cta__incentive Start your Risk Analysis
            %li.signup-cta__incentive Prepare to pass audits and security reviews

        .home-hero__quotes
          .home__customer-quotes
            .card.card--dark
              %img.customer-quote__logo--adjacent{ src: '/images/customers/mdsave.png' }
              .customer-quote__wrapper
                .customer-quote
                  “Aptible's unique combination of infrastructure and compliance
                  management tools allow us to easily adopt and document security
                  best-practices.”
                  %span.customer-quote__author Ryan Aipperspach - CTO

          .gridiron-hero__screenshot.faux-window
            %img.gridiron-screenshot{                                        |
                src: '/images/gridiron/gridiron-risk-assessment.png',        |
                data: { src: '/images/gridiron/gridiron-hipaa-control.png' } |
              }                                                              |

.content
  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %p.summary--single-center
        Aptible helps the developers at companies like these to build strong
        security programs and meet the requirements for HIPAA, SOC 2,
        ISO 270001, and more
  .grid-container.grid--single-center
    .grid-item
      = partial 'customer-logo-grid'
      %a.btn.btn--logo-grid{ href: '/customers/' } Learn how these companies use Aptible

.content.gridiron-hero__why.hero-gradient--angled.aptible-header--bottom-grid
  .grid-container.grid--single-center
    -# TODO: Use design and copy is coming, discuss images
    -# Try Invision for copy discussions
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Why Gridiron?
      %p.summary--single-center
        Gridiron provides you with the developer-focused tools, training, and
        expert guidance your company needs to comply with regulatory
        requirements and pass security reviews.

  .grid-container--flex.why-gridiron
    .why-gridiron__copy
      %h3 Understand Risks
      %p
        Gridiron develops comprehensive risk and threat models through a
        comprehensive understanding of your business's tech stack and operations.

      %h3 Develop Policies and Procedures
      %p
        Based on a thorough understanding of your business, Gridiron selects
        reasonable and appropriate administrative controls that meet legal,
        regulatory, and security requirements, and composes the documentation
        that you can provide to customers and auditors.

      %h3 Automate Training
      %p.why-gridiron--grow
        Based on your risk and threat models, as well as your policies and
        procedures, Gridiron creates bespoke training and administers it to
        workforce members, tailored to specific roles.

      -# %p
      -#   %a.btn{ href: '/aws-vs-aptible/' } Compare to DIY Compliance/Security

    .why-gridiron__carousel.carousel
      .carousel__cards
        .carousel__card
          %figure
            %img{ src: "/images/gridiron/compliance-achieved.svg" }
            %figcaption
              After you’ve achieved security and compliance, Gridiron updates
              in realtime as your organization and tech stack changes and grows.
        .carousel__card
          %figure
            %img{ src: "/images/gridiron/living-docs.svg" }
            %figcaption
              Gridiron creates and distributes tailored Risk Assessment,
              Policies, Procedures and Security Training to your workforce.
        .carousel__card
          %figure
            %img{ src: "/images/gridiron/security-controls.svg" }
            %figcaption
              Answer straightforward questions about your organization
              and tech stack.
      .carousel__positions
        .carousel__position-dot.carousel__position-dot--current
        .carousel__position-dot
        .carousel__position-dot


= partial 'partials/about-aptible'

.content
  .home-quotes
    .home-quote
      .home-quote__bubble
        .home-quote__body
          “When evaluating a vendor, our priorities were trust, transparency,
          and reliability. Aptible hits them all, allowing us to focus on what
          we do without worrying about all the layers of legal and technical ops
          hurdles.”
        .home-quote__author
          Dan Levenson - CTO
      .home-quote__logo
        = partial 'images/customers/healthify.svg'

-# TODO: Customer quotes - customer model in Contentful

.content.hero-gradient--angled.aptible-header--bottom-grid
  .footer__signup.grid-container.grid--single-center
    .footer__signup__hgroup
      %h2.footer__signup-title
        Get your team HIPAA-compliant in days, not months
    .footer__signup-form
      = partial 'partials/demo-cta', locals: {        |
            cta_label: 'Request A Demo',              |
            cta_placeholder: 'Enter your work email'  |
          }                                           |
      %ul.signup-cta__incentives.signup-cta__incentives--center
        %li.signup-cta__incentive Start your Risk Analysis
        %li.signup-cta__incentive Prepare to pass audits and security reviews
