---
title: Plans and Pricing
tracked_title: Pricing
id: pricing
description: "Aptible plans and pricing"

-# plans:
---

- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--adjacent
    = partial 'partials/main-nav'
    .grid-container.pricing-page-header
      .centered-header.centered-header--wide
        %h1.heading__title
          Get a pay-as-you-go development account to see
          how easy Aptible is to use

.content
  .pricing-tiers.grid-container
    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--development
          = partial 'images/enclave.svg'
        .pricing-tier__subtitle Pay as you go
        .pricing-tier__title Development
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item
          Shared Tenancy, perfect for development or staging

    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--platform
          = partial 'images/enclave.svg'
        .pricing-tier__subtitle
          %span.pricing-tier__price 999
          \/ month
        .pricing-tier__title Platform
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item Gravity Deployment Platform
        %li.pricing-tier__checklist-item Pay-as-you-go pricing
        %li.pricing-tier__checklist-item 24/7 Incident  monitoring

    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--pilot
          = partial 'images/enclave.svg'
          .pricing-tier__plus
          = partial 'images/gridiron.svg'
        .pricing-tier__subtitle
          %span.pricing-tier__price 1,999
          \/ month
        .pricing-tier__title Pilot
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item
          Gravity Deployment Platform
        %li.pricing-tier__checklist-item
          Gridiron self-service compliance management system

    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--managed
          = partial 'images/enclave.svg'
          .pricing-tier__plus
          = partial 'images/gridiron.svg'
        .pricing-tier__subtitle Custom Pricing
        .pricing-tier__title Managed
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item Gravity Deployment Platform
        %li.pricing-tier__checklist-item Pay-as-you-go pricing
        %li.pricing-tier__checklist-item 24/7 Incident  monitoring
        %li.pricing-tier__checklist-item Nightly encrypted Backups
        %li.pricing-tier__checklist-item Business-level Support Plan
        %li.pricing-tier__checklist-item
          Compatable with all languages and frameworks

  .unit-pricing-components.grid-container.grid--single-center.grid-container--bordered
    .grid-item
      %h2.unit-pricing-components__title Unit Pricing
      %p.unit-pricing-components__summary
        All plans are scalable on demand, just pay for what you use:
      .unit-pricing-components__container
        .unit-pricing-component.unit-pricing-component--containers
          .unit-pricing-component--icon
            = partial 'images/feature-icons/containers.svg'
          .unit-pricing-component--item App & Database Containers
          .unit-pricing-component--price $0.08/GB/hour

        .unit-pricing-component.unit-pricing-component--disk
          .unit-pricing-component--icon
            = partial 'images/feature-icons/rack.svg'
          .unit-pricing-component--item Encrypted Disk
          .unit-pricing-component--price $0.37/GB/month

        .unit-pricing-component.unit-pricing-component--ssl-endpoints
          .unit-pricing-component--icon
            = partial 'images/feature-icons/padlock.svg'
          .unit-pricing-component--item SSL Endpoints
          .unit-pricing-component--price $0.05/hour
      -# TODO: Link here when the pricing calculator is complete
      -# .grid-container--bordered__tray
      -#   %a.btn{ href: open_account_href } Pricing Calculator


  .grid-container.grid--single-center.grid-container--ruled
    .grid-item
      %h2.heading--single-center Free to sign up + $500 bonus usage credit
      %p.summary--single-center
        No contracts, no risk. Open a Development Account today with
        $500 free credit.

      %a.btn{ href: open_account_href } Open Your Account

  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Included in all Aptible Plans
      %p.summary--single-center
        No contracts, no risk. Open a Development Account today with
        $500 free credit.

  = partial 'partials/enclave-features'

  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Custom Support Plans

  .support-pricing-tiers.grid-container.grid-container--bordered
    .support-pricing-tier
      %h3.support-pricing-tier__summary Included with every account
      %h2.support-pricing-tier__name Business
      %ul.checklist.checklist--blue
        %li Normal severity response times in 12 hours or less
        %li Email and portal channels
        %li Included with every account


    .support-pricing-tier
      %h3.support-pricing-tier__summary Dedicated slack channel
      %h2.support-pricing-tier__name Premium
      %ul.checklist.checklist--blue
        %li Dedicated slack channel
        %li Urgent severity response times in 1 hour or less
        %li Administrative portal access to manage tickets
        %li Email, portal, and slack channels

      %img.support-pricing-tier__slack{ src: '/images/slack.svg' }

    .support-pricing-tier
      %h3.support-pricing-tier__summary
        Dedicated slack channel and support engineer
      %h2.support-pricing-tier__name Enterprise
      %ul.checklist.checklist--blue
        %li Dedicated Support Engineer
        %li Dedicated Technical Account Manager
        %li Critical issue response times in 15 minutes or less
        %li Included base VPN and architecture support
        %li Email, portal, slack, and phone channels

      %img.support-pricing-tier__slack{ src: '/images/slack.svg' }

    .grid-container--bordered__tray.gri-item
      %a.btn{ href: '/support-plans' } Learn more about custom support
