---
title: Plans and Pricing
tracked_title: Pricing
id: pricing
description: "Aptible plans and pricing"
---

- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--adjacent.aptible-header--double-grid
    = partial 'partials/main-nav'

    .grid-container.pricing-page-header
      .centered-header.centered-header--wide
        %h1.heading__title
          Plans and Pricing

.content
  .pricing-tiers.grid-container
    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--development
          = partial 'images/enclave.svg'
        .pricing-tier__subtitle Pay as you go
        .pricing-tier__title Development
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item Aptible Enclave deployment platform
        %li.pricing-tier__checklist-item No contracts, no commitments
        %li.pricing-tier__checklist-item $500 credit towards usage for new accounts
        %li.pricing-tier__checklist-item Shared tenancy
        %li.pricing-tier__checklist-item Ideal for development or staging
        %li.pricing-tier__checklist-item Easy to upgrade when you are ready for a dedicated stack

    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--platform
          = partial 'images/enclave.svg'
        .pricing-tier__subtitle
          %span.pricing-tier__price 999
          \/ month base, annual contract
        .pricing-tier__title Platform
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item Aptible Enclave deployment platform
        %li.pricing-tier__checklist-item Dedicated, isolated Enclave stack
        %li.pricing-tier__checklist-item Includes HIPAA BAA, SLA, Breach Indemnification
        %li.pricing-tier__checklist-item 24/7 ops and incident monitoring
        %li.pricing-tier__checklist-item Base fee includes 6 GB RAM for app/database containers; 1 TB encrypted database disk, including backups; 4 SSL/TLS endpoints

    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--pilot
          = partial 'images/enclave.svg'
          .pricing-tier__plus
          = partial 'images/gridiron.svg'
        .pricing-tier__subtitle
          %span.pricing-tier__price 1,999
          \/ month base, annual contract
        .pricing-tier__title Pilot
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item Aptible Enclave + Aptible Gridiron
        %li.pricing-tier__checklist-item Dedicated, isolated Enclave stack
        %li.pricing-tier__checklist-item Includes HIPAA BAA, SLA, Breach Indemnification
        %li.pricing-tier__checklist-item 24/7 ops and incident monitoring
        %li.pricing-tier__checklist-item Base fee includes 6 GB RAM for app/database containers; 1 TB encrypted database disk, including backups; 4 SSL/TLS endpoints
        %li.pricing-tier__checklist-item Premium support included

    .pricing-tier
      %header.pricing-tier__header
        .pricing-tier__illustration.pricing-tier__illustration--managed
          = partial 'images/enclave.svg'
          .pricing-tier__plus
          = partial 'images/gridiron.svg'
        .pricing-tier__subtitle Custom Pricing
        .pricing-tier__title Managed
      %ul.pricing-tier__checklist.checklist.checklist--blue
        %li.pricing-tier__checklist-item Aptible Enclave + Aptible Gridiron
        %li.pricing-tier__checklist-item Dedicated audit assistance
        %li.pricing-tier__checklist-item Custom MSA, BAA, SLAs available
        %li.pricing-tier__checklist-item High-volume unit pricing
        %li.pricing-tier__checklist-item Premium support included

  .unit-pricing-components.grid-container.grid--single-center.grid-container--bordered
    .grid-item
      %h2.unit-pricing-components__title Unit Pricing
      %p.unit-pricing-components__summary
        All Enclave plans scale on demand, just pay for what you use:
      .unit-pricing-components__container
        .unit-pricing-component.unit-pricing-component--containers
          .unit-pricing-component--icon
            = partial 'images/feature-icons/containers.svg'
          .unit-pricing-component--item App & Database Containers
          .unit-pricing-component--price $0.08/GB RAM/hour

        .unit-pricing-component.unit-pricing-component--disk
          .unit-pricing-component--icon
            = partial 'images/feature-icons/rack.svg'
          .unit-pricing-component--item Encrypted Disk
          .unit-pricing-component--price $0.37/GB/month

        .unit-pricing-component.unit-pricing-component--ssl-endpoints
          .unit-pricing-component--icon
            = partial 'images/feature-icons/padlock.svg'
          .unit-pricing-component--item SSL Endpoints
          .unit-pricing-component--price $0.05/hour
      -# TODO: Link here when the pricing calculator is complete
      -# .grid-container--bordered__tray
      -#   %a.btn{ href: open_account_href } Pricing Calculator


  .grid-container.grid--single-center.grid-container--ruled
    .grid-item
      %h2.heading--single-center Free to sign up + $500 bonus usage credit
      %p.summary--single-center
        No contracts, no risk. Open a Development Account today with
        $500 free credit.

      %a.btn{ href: open_account_href } Open Your Account

  -# .grid-container.grid--single-center
  -#   .grid-item.grid-item--adjacent
  -#     %h2.heading--single-center Included in all Aptible Plans
  -#     %p.summary--single-center
  -#       No contracts, no risk. Open a Development Account today with
  -#       $500 free credit.

  -# = partial 'partials/enclave-features'

  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center Support Plans

  .support-pricing-tiers.grid-container.grid-container--bordered
    .support-pricing-tiers__flex
      .support-pricing-tier
        %h3.support-pricing-tier__summary Included with every account
        %h2.support-pricing-tier__name Business
        %ul.checklist.checklist--blue
          %li Normal severity response times in 12 hours or less
          %li Manage tickets via email and web portal
          %li Included with every account


      .support-pricing-tier
        %h3.support-pricing-tier__summary Dedicated slack channel
        %h2.support-pricing-tier__name Premium
        %ul.checklist.checklist--blue
          %li Dedicated, private Slack channel
          %li Urgent severity response times in 1 hour or less
          %li Administrative portal access to manage all tickets
        %img.support-pricing-tier__slack{ src: '/images/slack.svg' }

      .support-pricing-tier
        %h3.support-pricing-tier__summary
          Dedicated slack channel and support engineer
        %h2.support-pricing-tier__name Enterprise
        %ul.checklist.checklist--blue
          %li Dedicated Support Engineer
          %li Dedicated Technical Account Manager
          %li Critical issue response times in 15 minutes or less
          %li Includes base VPN and architecture support
          %li Email, portal, Slack, and phone channels
        %img.support-pricing-tier__slack{ src: '/images/slack.svg' }

    .grid-container--bordered__tray.gri-item
      %a.btn{ href: '/support-plans/' } Learn More About Support
