---
section: 'ui-kit'
slug:    'colors'
title:   'Colors'
colors:
  - white,#fff;
  - lighter-blue,#f5f8fd;
  - light-blue,#e9f1fd;
  - sky-blue,#93b0d2;
  - blue,#307AD1;
  - light-sky-blue,#afcced;
  - blue-steel,#627699;
  - dark-blue-steel,#45546e;
  - dark-blue,#172234;
  - light-blue-gray,#7383A0;
  - green,#9bd037;
  - grass-green,#9bd037;
  - dusk,#212f45;
  - dusk-alt,#222c3e;
  - light-med-gray,#c9d1db;
  - light-gray,#8b97a6;
  - medium-gray,#999;
  - dark-gray,#36455b;
  - purple,#9b59b6;
  - light-dusk,#2d3c54;
---

- content_for :header do
  = partial 'partials/ui-kit-header'

.content
  .grid-container.grid--4up
    .grid-collapse
      - current_page.data.colors.each do |c|
        - color = c.split(',')[0]
        - hex = c.split(',')[1]
        %div{:class => "grid-item card #{"#{color}-bg"}"}
          %heading
            = color.gsub('-', ' ').capitalize
            %span.color-hex= hex
  .grid-container
    %h1.headline--xxl Gradients
  .grid-container.grid--2up
    .grid-collapse
      .grid-item.card.hero-gradient
        %heading
          Hero Gradient
      .grid-item.card.hero-gradient--angled
        %heading
          Hero Gradient Angled
