---
title: Our Technology
id: technology
introduction:
  image: /pages/assets/technology/aptible-technology-introduction.png
  title: Aptible is a web and mobile application deployment platform built for privacy and security.
  body: |-
    We run the entire backend you need to securely host and deliver your apps: web servers, app servers, databases, load balancers, network security, backups, encryption, permissions - everything.

    And because we run your ops, our compliance engines can help you implement an entire HIPAA compliance program at a fraction of the traditional cost.

    The result is that your engineers can focus on writing code, not managing and documenting infrastructure.
philosophy:
  title: Our Philosophy
  body: |-
    We believe you should never have to compromise good engineering practices for the sake of compliance. Our approach is to build private, secure environments for your code and let you run the languages, frameworks, and databases of your choice inside them.
workflow:
  title: Workflow
  body: |-
    If you're familiar with Heroku, you already know how to use Aptible: Push code to a Git remote, then configure and manage resources from the command line or through our web dashboard.

    This Git-based workflow makes Aptible easy to integrate with Travis CI, CircleCI, or any other continuous integration/continuous development tool of your choice.
how_it_works:
  img: /pages/assets/technology/how-aptible-works.png
  title: How Aptible Works
networking:
  title: Networking
  body: |-
    Each Aptible Production Account's resources are deployed into an isolated network of dedicated instances. Access to and from applications is strictly controlled and logged for auditing.

    Databases are further isolated in a private subnet, addressable only from within the network, and accessible only to the account's own apps, or via authenticated tunnel.
routing:
  title: Routing
  body: |-
    Every Aptible Account (Production and Development) receives its own set of load balancers, meaning your traffic is never enqueued behind another customer's traffic.
containers:
  img: /pages/assets/technology/aptible-containers.png
  title: Containers
  body: |-
    Within each customer's stack, Aptible uses Docker containers to move and run services. A container is like a lightweight virtual machine that can be used to run an instance of an application or a database.

    If you are coming from Heroku, you can estimate the number of containers you will need by adding the number of Heroku dynos and databases. For example, if you use 2 web processes, 2 worker processes, and 1 PostgreSQL database, you will need 5 containers.

    ### [Learn more about Docker](https://docs.docker.com/introduction/understanding-docker) ###
apps:
  title: Applications & Databases
  body: |-
    Aptible is language- and framework-agnostic. If it runs on Linux, it runs on Aptible. Our compliance experts will work with your engineers to help you implement best practices for any application-specific steps required by HIPAA or your risk assessment.
  logos:
      redis:
        url: /pages/assets/redis.png
        className: redis
      mongo:
        url: /pages/assets/mongodb.png
        className: mongo
      pg:
        url: /pages/assets/postgres.png
        className: pg
      mysql:
        url: /pages/assets/mysql.png
        className: mysql
      django:
        url: /pages/assets/django.png
        className: django
      node:
        url: /pages/assets/nodejs.png
        className: node
      ruby:
        url: /pages/assets/ruby.png
        className: ruby
      php:
        url: /pages/assets/php-logo.svg
        className: php

cta:
  title: |-
    Ready to start deploying HIPAA-compliant apps with our high-assurance deployment platform and  compliance engines?
  button: Open Your Production Account
newsletter:
  title: "Get the Latest Devops and Security News"
  subtitle: Straight to your inbox, no more than twice a month.
  placeholder: Enter your email address
  submit: "Sign me up!"
  success: Thanks for signing up!
  error: Please use a valid email

---

<div class="facts-page">

  <div class="fancy-cover">
    <div class="container">
      <div class="row facts-page-introduction">
        <div class="col-md-6 col-sm-12">
          <div class="fact-section-image">
            <img src="{{introduction.image}}" alt="Aptible's Technology" class="technology-introduction-image" />
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>{{introduction.title}}</h2>
          <div class='introduction-body'>{{#markdown}}{{introduction.body}}{{/markdown}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="highlight-panel">
    <div class="container">

      <div class="row section bordered callout-section">
        <div class="col-md-10 col-md-offset-1 col-sm-12 our-philosophy">
          <h2 class="callout-title">{{philosophy.title}}</h2>
          <div class="philosophy-body callout-body">{{#markdown}}{{philosophy.body}}{{/markdown}}</div>
        </div>
      </div>

      <div class="row section bordered">
        <h1 class="how-aptible-technology-works">{{how_it_works.title}}</h1>

        <div class="col-md-6 col-sm-12">
          {{> ci_console}}

        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12">
          <h2 class="fact-section-title workflow-title">{{workflow.title}}</h2>
          <div class="fact-section-body workflow-body">{{#markdown}}{{workflow.body}}{{/markdown}}</div>
        </div>
      </div>

      <div class="row section bordered">
        <div class="col-md-5 col-sm-12">
          <div class="fact-section how-it-works-section networking">
            <h2>{{networking.title}}</h2>
            <div class="fact-section-body how-it-works-body ">{{#markdown}}{{networking.body}}{{/markdown}}</div>
          </div>
          <div class="fact-section how-it-works-section routing">
            <h2>{{routing.title}}</h2>
            <div class="fact-section-body how-it-works-body">{{#markdown}}{{routing.body}}{{/markdown}}</div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-12">
          <div class="fact-section-image">
            <img src="{{how_it_works.img}}" alt="How Aptible Works" />
          </div>
        </div>
      </div>

      <div class="row section bordered">
        <div class="col-md-6 col-sm-12">
          <div class="fact-section-image">
            <img src="{{containers.img}}" alt="Aptible Containers" class="containers-image" />
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1 col-sm-12">
          <div class="fact-section container-section">
            <h2>{{containers.title}}</h2>
            <div class="fact-section-body containers">{{#markdown}}{{containers.body}}{{/markdown}}</div>
          </div>
        </div>
      </div>

      <div class="row section bordered callout-section">
        <div class="col-md-10 col-md-offset-1 col-sm-12 apps-and-databases">
          <h2 class="callout-title">{{apps.title}}</h2>
          <div class="apps-body callout-body">{{#markdown}}{{apps.body}}{{/markdown}}</div>
          <div class="row apps-list">
            {{#each apps.logos}}
              <div class="col-md-3 col-sm-12">
                <div class="app-icon-container {{className}}">
                  <img src="{{url}}" alt="{{className}}" />
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="row section">
        <div class="facts-page-cta col-md-8 col-md-offset-2 col-sm-12">
          <h2 class="cta-title">{{cta.title}}</h2>
          <a class="btn btn-primary btn-lg" href="{{config.dashboard_signup_url}}">{{cta.button}}</a>
        </div>
      </div>

    </div>
  </div>

  <div class="row newsletter-section">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="panel panel-default newsletter-signup-panel">
        <div class="panel-body">
          <h1 class="panel-title">{{newsletter.title}}</h1>
          <h5 class="panel-sub">{{newsletter.subtitle}}</h5>
          <div class="panel-cta">
           {{> newsletter_signup}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
