---
title: HIPAA Compliance for Digital Health
tracked_title: HIPAA Compliance for Digital Health
sub_title: Compliance tools for building software in the cloud
id: compliance content-page
images:
  risk_testimonial: /pages/assets/compliance/ian.png
  training_testimonial: /pages/assets/compliance/ian.png
  social_kp: /pages/assets/compliance/compliance-logo-kp.png
  social_va: /pages/assets/compliance/compliance-logo-va.png
  social_md: /pages/assets/compliance/compliance-logo-md.png
  social_st: /pages/assets/compliance/compliance-logo-st.png
  social_jh: /pages/assets/compliance/compliance-logo-jh.png
  social_uh: /pages/assets/compliance/compliance-logo-uh.png
social_proof:
  title: "Aptible customers are audited by some of the largest healthcare systems in the country:"
compliance_model:
  title: The Aptible Compliance Model
  sub_title: Security and privacy by design
  body: |-
    Aptible's compliance platform supports you through each major phase of your HIPAA compliance program.
risk_assessment:
    title: Risk Assessment
    sub_title: Model and manage threats
    body: |-
      With Aptible, your HIPAA-mandated risk assessment maps to your technology stack in real time. Our risk analysis methodology is designed for high-security environments, and was developed in conjunction with the Department of Defense and the Office of the Director of National Intelligence. Having both your technology stack and compliance program centralized makes the process of maintaining your HIPAA documentation more accurate and efficient.
    testimonial: |-
      Aptible takes the pain out of HIPAA compliance. We saved a huge amount of time and money, and avoided risk by partnering with them.
    author: Ian Yamey - CTO, PolicyGenius
policies:
    title: Policies & Procedures
    sub_title: HIPAA policies tailored to your company
    body: |-
      Finding a canned list of policies and procedures on the Internet is easy. Making sure your internal policies and controls are relevant, accurate, and ready to survive an audit is hard. Aptible policies are specific to web and mobile apps deployed in the cloud and are updated to reflect current best practices.
training:
    title: Training
    sub_title: Understanding Compliance
    body: |-
      Your entire team - from your HIPAA Security Officer to your developers and general workforce members - receives role-based training. Our online training system makes tracking employee progress extremely easy. All completed training is auditable, making it easy to demonstrate compliance.
cta:
  title: Try Aptible Now
  sub_title: No contracts, no risk.
  sub_title2: Open a Development Account today and get $500 in usage credits.
  button: Open a Development Account
---

{{! white background social proof }}
<div class="compliance-social" id="start">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12">
        <h3 class="intro-heading">{{social_proof.title}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <img src="{{images.social_kp}}" alt="Aptible and Kaiser Permanente" />
      </div>
      <div class="col-md-3 col-xs-6">
        <img src="{{images.social_va}}" alt="Aptible and US Department of Veteran Affairs" />
      </div>
      <div class="col-md-3 col-xs-6">
        <img src="{{images.social_md}}" alt="Aptible and MD Anderson Cancer Center" />
      </div>
      <div class="col-md-3 col-xs-6">
        <img src="{{images.social_st}}" alt="Aptible and Stanford Hospital and Clinics" />
      </div>
      <div class="col-md-3 col-md-offset-3 col-xs-6">
        <img src="{{images.social_jh}}" alt="Aptible and John Hopkins University" />
      </div>
      <div class="col-md-3 col-xs-6">
        <img src="{{images.social_uh}}" alt="Aptible and United Health Group" />
      </div>
    </div>
  </div>
</div>

{{! white background security }}
<div class="container compliance-model">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <h4 class="section-header">{{compliance_model.sub_title}}</h4>
      <h2 class="section-header">{{compliance_model.title}}</h2>
      <div class="long-dash"></div>
      <p>{{#markdown}}{{compliance_model.body}}{{/markdown}}</p>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      {{> compliance_model }}
    </div>
  </div>
</div>

{{! gray background 3 staggered benefits }}
<div class="section gray bordered">
  <div class="container">

    {{! Benefit 1 }}
    <div class="row compliance-benefit compliance-benefit-testimonial">
      <div class="col-md-3">
        <div class="compliance-benefit-testimonial-type compliance-benefit-image">
          {{> compliance_risk }}
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-sm-12 compliance-benefit-copy">
        <h4>{{risk_assessment.sub_title}}</h4>
        <h2>{{risk_assessment.title}}</h2>
        <div class="long-dash"></div>
        <p>{{#markdown}}{{risk_assessment.body}}{{/markdown}}</p>

        {{! Customer Testimonial }}
        <div class="compliance-testimonial">
          <div class="compliance-testimonial-image">
            <img src="{{images.risk_testimonial}}" alt="Risk Assessment" />
          </div>
          <div class="compliance-testimonial-copy">
            {{#markdown}}{{risk_assessment.testimonial}}{{/markdown}}
            <h5 class="hinted">{{risk_assessment.author}}</h5>
            <a href="#"><h5>Read More &rarr;</h5></a>
          </div>
        </div>

      </div>
    </div>

    {{! Benefit 2 }}
    <div class="row compliance-benefit">
      <div class="col-md-7 col-sm-12 compliance-benefit-copy">
        <h4>{{policies.sub_title}}</h4>
        <h2>{{policies.title}}</h2>
        <div class="long-dash"></div>
        <p>{{#markdown}}{{policies.body}}{{/markdown}}</p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="compliance-benefit-testimonial-type compliance-benefit-image">
          {{> compliance_policies }}
        </div>
      </div>
    </div>

    {{! Benefit 3 }}
    <div class="row compliance-benefit compliance-benefit-testimonial">
      <div class="col-md-3">
        <div class="compliance-benefit-testimonial-type compliance-benefit-image">
          {{> compliance_training }}
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 col-sm-12 compliance-benefit-copy">
        <h4>{{training.sub_title}}</h4>
        <h2>{{training.title}}</h2>
        <div class="long-dash"></div>
        <p>{{#markdown}}{{training.body}}{{/markdown}}</p>

        {{! Customer Testimonial }}
        <div class="compliance-testimonial">
          <div class="compliance-testimonial-image">
            <img src="{{images.risk_testimonial}}" alt="Risk Assessment" />
          </div>
          <div class="compliance-testimonial-copy">
            {{#markdown}}{{risk_assessment.testimonial}}{{/markdown}}
            <h5 class="hinted">{{risk_assessment.author}}</h5>
            <a href="#"><h5>Read More &rarr;</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{! CTA }}
<div class="container">
  <div class="row section text-center">
    <div class="compliance-cta col-md-8 col-md-offset-2 col-sm-12">
      <h2 class="cta-title">{{cta.title}}</h2>
      <p>{{cta.sub_title}}</p>
      <p>{{cta.sub_title2}}</p>
      <a class="btn btn-primary btn-lg" href="{{config.dashboard_signup_url}}">{{cta.button}}</a>
    </div>
  </div>
</div>
